In [7]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
from scipy import stats
plt.style.use('seaborn')

##### [과제] 감자튀김 사례로 제2종 오류를 범할 비율을 구하세요
---

In [8]:
df = pd.read_csv('D:\workspace\cakd5\m3_통계\data\ch11_potato.csv')
display(df.head())

       무게
0  122.02
1  131.73
2  130.60
3  131.82
4  132.05

In [4]:
n = float(input('모평균 : '))
rv = stats.norm(n, 3)

c = stats.norm().isf(0.95)
n_samples = 10000
cnt = 0
for _ in range(n_samples):
    sample = np.round(rv.rvs(14), 2)
    s_mean = np.mean(sample)
    z = (s_mean - 130) / np.sqrt(9/14)
    if z >= c:
        cnt += 1
print('제 2종 오류를 범할 확률 :', cnt / n_samples)

KeyboardInterrupt: Interrupted by user

##### [과제] 모평균에 대한 검정을 사용자 함수 pmean_test()를 작성하여 감자튀김 사례에 대하여 양측검정을 수행하세요.
---

In [13]:
# 사용자 정의 함수

def pmean_test(sample, mean0, alpha = 0.05):
    s_mean = np.mean(sample)
    u_var = np.var(sample, ddof = 1)
    n = len(sample)
    rv = stats.t(df = n-1)
    interval = rv.interval(1 - alpha)
    
    t = (s_mean - mean0) / np.sqrt(u_var/n)
    if interval[0] <= t <= interval[1]:
        print('귀무가설을 채택')
    else:
        print('귀무가설을 기각') 
        
    if t < 0:
        p = rv.cdf(t) * 2
    else:
        p = rv.sf(t) * 2
    print(f'p값은 {p:.3f}')

In [16]:
pmean_test(df.무게, 131)

귀무가설을 기각
p값은 0.032

##### [과제] 대응표본, 독립표본에 대하여 정규분포를 가정하는 경우와 가정할 수 없는 경우의 4가지 유형의 각 사례를 작성하세요.
---

- 정규분포를 가정 
 - 대응표본 : 같은 시간에 수영을 하는 아침반 사람들이 수영을 한 달 한 뒤 체중에 변화가 있는지를 검정
 - 독립표본 : 아침반 사람들은 초보자이고 오후반 사람들은 선수반인데 수영을 한달 한 뒤 두 반의 체중에 변화가 있는지를 검정
- 정규분포를 가정할 수 없음

##### [과제] 정규분포를 가정할 수 없는 경우 대응표본에 대한 가설검정을 수행하세요. (윌콕슨의 부호순위 검정)
---

In [20]:
data = pd.read_csv('D:\workspace\cakd5\m3_통계\data\ch11_training_rel.csv')
data.head()

    전   후
0  59  41
1  52  63
2  55  68
3  61  59
4  59  84

##### [과제] 정규분포를 가정할 수 없는 경우 독립표본에 대한 가설검정을 수행하세요. (윌콕슨의 순위합 검정)
---

In [21]:
data = pd.read_csv('D:\workspace\cakd5\m3_통계\data\ch11_training_ind.csv')
data.head()

    A   B
0  47  49
1  50  52
2  37  54
3  60  48
4  39  51

In [23]:
u,p = stats.mannwhitneyu(data['A'],data['B'],alternative='two-sided')
p

0.05948611166127324

##### [과제] 기대도수와 관측도수(실측)의 차이를 측정해서 검정 수행
---

In [45]:
df = pd.read_csv('D:\workspace\cakd5\m3_통계\data\ch11_ad.csv')
display(df.head(), df.shape)
ad_cross = pd.crosstab(df.광고, df.구입)
ad_cross

  광고      구입
0  B  하지 않았다
1  B  하지 않았다
2  A      했다
3  A      했다
4  B  하지 않았다

(1000, 2)

구입  하지 않았다  했다
광고
A      351  49
B      549  51