# [2월 17일]
---

## # 설치와 기본 사용
---

In [4]:
!pip install cx_Oracle

Requirement already satisfied: cx_Oracle in c:\users\spiner\anaconda3\envs\cakd5\lib\site-packages (8.3.0)

In [361]:
import cx_Oracle
import pandas as pd
import numpy as np
import csv

NameError: name 'plt' is not defined

In [2]:
dsn  =cx_Oracle.makedsn('localhost',1521,'xe')
db = cx_Oracle.connect('C##CAKD5', 'CAKD5', dsn)
db

In [6]:
cursor = db.cursor()
cursor.execute('select * from book')
x = cursor.fetchall()
df = pd.DataFrame(x)
df.head()
columns = ['BOOKID', 'BOOKNAME', 'PUBLISHER', 'PRICE']
df = pd.DataFrame(x, columns = columns)
df.head()

   BOOKID BOOKNAME PUBLISHER  PRICE
0       1   축구의 역사      굿스포츠   7000
1       2  축구아는 여자       나무수  13000
2       3   축구의 이해     대한미디어  22000
3       4   골프 바이블     대한미디어  35000
4       5    피겨 교본      굿스포츠   8000

# [2월 24일]
---

## # create
---
- 테이블 만들기

In [25]:
import cx_Oracle

con = cx_Oracle.connect('C##CAKD5/CAKD5@localhost:1521/xe')
cursor = con.cursor()
sql = 'create table sample1(id varchar2(10), score number)'
cursor.execute(sql)
cursor.close()
con.commit()
con.close()

## # insert
---
- 데이터 삽입

In [23]:
# 데이터 한줄 삽입

def insert(t):
    con = cx_Oracle.connect('C##CAKD5/CAKD5@localhost:1521/xe')
    cursor = con.cursor()
    sql = 'insert into sample1(id, score) values(:1, :2)'
    cursor.execute(sql, t)
    cursor.close()
    con.commit()
    con.close()

In [ ]:
insert(('111', 80))

In [26]:
# 데이터 여러줄 삽입

def insertmany(t):
    con = cx_Oracle.connect('C##CAKD5/CAKD5@localhost:1521/xe')
    cursor = con.cursor()
    sql = 'insert into sample1(id, score) values(:1, :2)'
    cursor.executemany(sql, t)
    cursor.close()
    con.commit()
    con.close()
    
rows = [('112', 90), ('113', 70), ('114', 80), ('115', 90), ('116', 85)]
row = [('111', 80)]

In [27]:
insertmany(row)
insertmany(rows)

In [166]:
# 3개의 속성(col01, col02, col03)으로 구성된 테이블 sample2를 생성하고 10개의 데이터를 입력.
# 단, col01에 대하여 제약조건 primary key 설정

con = cx_Oracle.connect('C##CAKD5/CAKD5@localhost:1521/xe')
cursor = con.cursor()
# sql = 'create table sample2(col1 number primary key, col2 number, col3 number)'
sql = 'create table sample2(col01 varchar2(10), col02 varchar2(10), col03 varchar2(10), constraint sample_pk primary key(col01))'
cursor.execute(sql)
cursor.close()
con.commit()
con.close()

def insert(table, t):
    con = cx_Oracle.connect('C##CAKD5/CAKD5@localhost:1521/xe')
    cursor = con.cursor()
    sql = f'insert into {table}(col01, col02, col03) values(:1, :2, :3)'
    cursor.executemany(sql, t)
    cursor.close()
    con.commit()
    con.close()

In [167]:
table = 'sample2'
rows = [(1, 1, 1), (2, 2, 2), (3, 3, 3), (4, 4, 4), (5, 5, 5), (6, 6, 6), (7, 7, 7), (8, 8, 8), (9, 9 ,9), (10, 10, None)]

insert(table, rows)

## # update
---
- 데이터 수정

In [170]:
def updatecol(t):
    con = cx_Oracle.connect('C##CAKD5/CAKD5@localhost:1521/xe')
    cursor = con.cursor()
    sql = 'update sample2 set col03 = :1 where col01 = :2'
    cursor.executemany(sql, t)
    cursor.close()
    con.commit()
    con.close()

updatecol([(3, 1)])

## # delete
---
- 데이터 삭제

In [171]:
def delectcol(t):
    con=cx_Oracle.connect('C##CAKD5/CAKD5@localhost:1521/xe')
    cursor=con.cursor()
    sql="delete from sample2 where col02=:1"
    cursor.executemany(sql,t)
    cursor.close()
    con.commit()
    con.close()
delectcol([(9, )])

## # 데이터프레임 만들기
---

In [172]:
con = con = cx_Oracle.connect('C##CAKD5/CAKD5@localhost:1521/xe')
cursor = con.cursor()
cursor.execute('select * from sample2')
x = cursor.fetchall()
df_col = pd.DataFrame(x)
cursor.execute("select column_name from user_tab_columns where table_name = 'SAMPLE2'")
col = cursor.fetchall()

list_py = []
for i in col:
    for j in i:
        list_py.append(j)
        
df_col.columns = list_py
df_col
# col

  COL01 COL02 COL03
0     1     1     3
1     2     2     2
2     3     3     3
3     4     4     4
4     5     5     5
5     6     6     6
6     7     7     7
7     8     8     8
8    10    10  None

In [173]:
df_col.to_csv('col3.csv', encoding = 'utf8')

In [264]:
import csv

with open('col3.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file)
    next(csv_reader)
    data = []
    for line in csv_reader:
        data.append(tuple(line[1:4]))
data

[('1', '1', '3'),
 ('2', '2', '2'),
 ('3', '3', '3'),
 ('4', '4', '4'),
 ('5', '5', '5'),
 ('6', '6', '6'),
 ('7', '7', '7'),
 ('8', '8', '8'),
 ('10', '10', '')]

## # 제약조건 삭제
---

In [176]:
con = con = cx_Oracle.connect('C##CAKD5/CAKD5@localhost:1521/xe')
cursor = con.cursor()
sql = 'alter table sample2 drop constraint sample_pk'
cursor.execute(sql)
cursor.close()
con.commit()
con.close()

## # 대량 데이터 입력
---

In [ ]:
# 예시

with open('col3.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file)
    next(csv_reader)
    con = con = cx_Oracle.connect('C##CAKD5/CAKD5@localhost:1521/xe')
    cursor = con.cursor()
    sql = 'insert into sample2 (col01, col02, col03) values(:1, :2, :3)'
    data = []
    for line in csv_reader:
        data.append(tuple(line[1:4]))
    cursor.executemany(sql, data)
    cursor.close()
    con.commit()
    con.close()

In [358]:
con = cx_Oracle.connect('C##CAKD5/CAKD5@localhost:1521/xe')
cursor = con.cursor()
sql = 'create table sample3(id varchar2(10), sales number)'
cursor.execute(sql)
cursor.close()
con.commit()
con.close()

In [359]:
import numpy as np
import pandas as pd

df = pd.DataFrame()
df['id'] = np.arange(10000)
df['sales'] = np.random.randint(1, 100, size = 10000)
df

        id  sales
0        0     92
1        1     99
2        2     28
3        3     59
4        4     14
...    ...    ...
9995  9995      7
9996  9996     48
9997  9997     88
9998  9998     95
9999  9999     23

[10000 rows x 2 columns]

In [353]:
# df['id'] = df['id'].astype(str)
# df['sales'] = df['sales'].astype(str)
df = df.astype(str)

In [360]:
data = [tuple(df.iloc[i]) for i in range(len(df))]    

con = con = cx_Oracle.connect('C##CAKD5/CAKD5@localhost:1521/xe')
cursor = con.cursor()
sql = 'insert into sample3 (id, sales) values(:1, :2)'
cursor.executemany(sql, data)
cursor.close()
con.commit()
con.close()

## # 기타
---

### # 저장할 때 한글로 인코딩
---

In [268]:
df2 = pd.read_csv('col2.csv', index_col = 0)
df2.to_csv('col2_2.csv', encoding = 'cp949')

In [269]:
import csv

with open('col2_2.csv', 'r') as csv_file:
    csv_reader = csv.reader(csv_file)
    next(csv_reader)
    data = []
    for line in csv_reader:
        data.append(tuple(line[1:4]))
data

[('성윤', '33', '남자'),
 ('기현', '33', '남'),
 ('광민', '29', '남'),
 ('종원', '25', '여'),
 ('남현', '26', '남'),
 ('정호', '26', '남'),
 ('경수', '34', '남'),
 ('동연', '26', '남'),
 ('꼬북좌', '25', '여')]

In [128]:
a = 'col, b, c'
a.split(',')

['a', ' b', ' c']