In [5]:
import pymysql
import pandas as pd

In [5]:
conn = pymysql.connect(host='192.168.0.6', user='root', password='root', db='smart_factory', port=3305)
sql_state='SELECT * FROM `production_recipe`'
recipe=pd.read_sql_query(sql_state, conn)

In [6]:
recipe=recipe[['원자재코드','LOT번호', '제품코드', '원자재명', '투입지시중량', '투입지시비율']]

In [7]:
recipe

         원자재코드         LOT번호           제품코드            원자재명  투입지시중량  투입지시비율
0      SR11002  580F21022209  PEMA033101400             사용수     450       3
1      SR35218  580F21022209  PEMA033101400  WRE-580FX(55%)   13095      87
2      SR35904  580F21022209  PEMA033101400        Urea-20%    1455      10
3      SR11002  580F21022215  PEMA023098200             사용수    1800       9
4      SR35218  580F21022215  PEMA023098200  WRE-580FX(55%)   18200      91
...        ...           ...            ...             ...     ...     ...
12299  SR35217  SR2021042141  PEMA013123000    SRE-110(50%)    1200      12
12300  SR35218  SR2021042141  PEMA013123000  WRE-580FX(55%)    1860      19
12301  SR35221  SR2021042141  PEMA013123000  PEMA-WRE-550(5     630       6
12302  SR35758  SR2021042141  PEMA013123000             M30     200       2
12303  SR38117  SR2021042141  PEMA013123000           PC소포제       4       0

[12304 rows x 6 columns]

In [8]:
import re
codes=[]
columns=[]

for code in recipe.제품코드.unique():
    codes.append(code)

for column in recipe.원자재코드.unique():
    pattern = re.match('[A-Z]+',column)
    if pattern.group() =='SR':
        columns.append(column)
    else:
        continue

In [9]:
result = pd.DataFrame(index=codes,columns=columns)

In [10]:
recipe=recipe.drop('원자재명',axis=1)

In [11]:
recipe=recipe.drop_duplicates()

In [12]:
result=result.fillna(0)

In [13]:
import numpy as np
for index in result.index:
    for column in result.columns:
        result.loc[index][column] = recipe.loc[(recipe.제품코드==index) & (recipe.원자재코드==column)]['투입지시비율'].astype('int32')

In [36]:
result_1=result.reset_index()

In [39]:
result_1

,제품코드,SR11002,SR35218,SR35904,SR15500,SR13801,SR16600,SR35224,SR35903,SR68222,...,SR35755,SR34307,SR35760,SR35761,SR35765,SR34311,SR35211,SR35221,SR16003,SR47093
0,PEMA033101400,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,PEMA023098200,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,SSA073046500,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,PEMA043099800,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,PEMA013120000,68,0,9,0,0,6,14,3,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
603,PEMA013122800,75,0,0,0,0,0,13,0,0,...,0,0,0,0,0,0,0,9,0,0
604,TSN4012011123,66,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
605,PEMA043103800,66,0,0,0,0,1,12,4,0,...,0,0,0,0,0,4,10,0,0,0
606,PEMA023122400,62,0,0,0,0,1,10,0,0,...,0,0,0,0,0,0,13,10,0,0
607,TSN4012011125,66,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
result_1.rename(columns = {'index' : '제품코드'}, inplace = True)

In [152]:
pip install sqlalchemy

Collecting sqlalchemyNote: you may need to restart the kernel to use updated packages.
  Downloading SQLAlchemy-1.4.35-cp38-cp38-win_amd64.whl (1.6 MB)
Collecting greenlet!=0.4.17
  Downloading greenlet-1.1.2-cp38-cp38-win_amd64.whl (101 kB)
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-1.1.2 sqlalchemy-1.4.35

In [15]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [40]:
db_connection_str = 'mysql+pymysql://root:root@192.168.0.6:3305/smart_factory'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

In [41]:
result_1.to_sql(name='code_raw',con=db_connection,index=False)