## 프로젝트 기반 AI 빅데이터 서비스 솔루션 개발 전문과정

#### 교과목명 : 프로그래밍 언어 활용

- 평가일 : 22.01.07
- 성명 : 김기현
- 점수 : 95

※ 문제당 5점으로 채점

#### 1. numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수)  
numbers = [5, 15, 6, 20, 7, 25]

In [22]:
numbers = [5, 15, 6, 20, 7, 25]

for i in numbers:
    if i >= 15:
        print(i)

15
20
25

#### 2. 아래 사용자 함수, 변수 리스트 및 2개의 내장함수를 각각 이용해서  [1, 4, 9, 16, 25], [1, 2]를 출력하세요.(내장함수 2개 사용 필수)

In [27]:
# 함수를 선언합니다.
def power(item):
    return item * item
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]

list_power = print(list(map(power, list_input_a)))
list_under_3 = print(list(filter(under_3, list_input_a)))

[1, 4, 9, 16, 25]
[1, 2]

#### 3. 정수를 입력하면 짝수 홀수 여부를 반환해주는 프로그램을 작성하세요.(정수 입력 후 '짝수', '홀수'가 일치하게 출력)

In [ ]:
while 1:
    num = int(input('입력 : '))
    
    if num % 2 == 0:
        print('짝수')
        
    else:
        print('홀수')

입력 : 4
짝수
입력 : 5
홀수
입력 : 1
홀수
입력 : 3
홀수
입력 : -2
짝수
입력 : 0
짝수

#### 4. 람다 함수를 이용해서 a의 b제곱에서 a x b를 뺀 수를 구하는 식을 만들고 그 식을 이용해서  a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요. 
a = 2, b = 5 \
a= 5, b = 2

In [5]:
# a = float(input('a = '))
# b = float(input('b = '))

num = lambda a, b: a ** b - a * b
print(num(2, 5))
print(num(5, 2))

22
15

#### 5. 123456789를 입력하면 천 단위로 콤마로 구분하여 출력하세요.

In [8]:
num = input('숫자를 입력하세요 : ')

num_comm = ''
num_r = num[::-1]
for i, j in enumerate(num_r):
    i += 1
    if i != len(num) and i % 3 == 0:
        j = j + ','
    else:
        j = j
    num_comm = num_comm + j
    
num_comm = num_comm[::-1]
print(num_comm)

숫자를 입력하세요 : 123456789
123,456,789

#### 6. example_list = ["요소A", "요소B", "요소C"]를 파이썬 내장함수를 이용하여 아래와 같이 출력하세요. 
0번째 요소는 요소A입니다.\
1번째 요소는 요소B입니다.\
2번째 요소는 요소C입니다.

In [9]:
example_list = ["요소A", "요소B", "요소C"]

for i, name in enumerate(example_list):
    print(f'{i}번째 요소는 {name}입니다.')

0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

#### 7. 97을 40으로 나눈 몫과 나머지를 내장함수를 이용하여 구하세요.(튜플로 출력 필수)

In [10]:
divmod(97, 40)

(2, 17)

#### 8. list_number = [52, 273, 32, 72, 100]로 변수 선언하고 정수를 입력하면 그 정수 인덱스와 리스트에서 해당하는 값을 출력하는 프로그램을 작성하세요. 단, 모든 예외처리를 수행하며 특히 ValueError와 IndexError는 별도 구분해서 예외처리 한 후 '예외처리 완료'를 마지막으로 출력하세요.

- 4 입력시 \
정수 입력> 4 \
4번째 요소: 100
예외 처리 완료

- 문자 입력시 \
정수 입력> 가 \
정수를 입력해 주세요!
예외 처리 완료

- 5 입력시 \
정수 입력> 5 \
리스트의 인덱스를 벗어났어요!
예외 처리 완료

In [ ]:
list_number = [52, 273, 32, 72, 100]

while 1:
    try:
        num = int(input('정수 입력> '))
        print(f'{list_number[num]} 예외 처리 완료')
    
    except ValueError:
        print('정수를 입력해 주세요!')
    
    except IndexError:
        print('리스트의 인덱스를 벗어났어요!')
        
    finally:
        ('예외 처리 완료.')

정수 입력> a
정수를 입력해 주세요!
정수 입력> 0
52 예외 처리 완료
정수 입력> 2
32 예외 처리 완료
정수 입력> 6
리스트의 인덱스를 벗어났어요!

#### 9. 사용자로부터 서로 다른 숫자 두 개를 입력받고 첫 번째 와 두 번째중 큰 숫자를 구하는 프로그램을 수행하세요.

In [2]:
a = input('숫자 1 : ')
b = input('숫자 2 : ')

if a > b:
    print(a)
else:
    print(b)

숫자 1 : 5
숫자 2 : 1
5

#### 10. 1부터 100까지 아래와 같은 방식으로 2개의 수를 곱해서 가장 큰 수를 구하세요.

 1 * 99 ...99 * 1

In [85]:
max_ = []
for i in range(1, 100):
    mul = i * (100 - i)
    max_.append(mul)
    
max_.sort()
max_.reverse()

print(max_[0])

2500

In [86]:
max_ = 0
for i in range(1, 100):
    mul = i * (100 - i)
    if max_ < mul:
        max_ = mul
    
print(max_)

2500

#### 11. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."

In [3]:
import re

text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."
p = re.compile('\d+')
p1 = p.search(text)

print(p1.group())

032

#### 12. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

In [4]:
import re

al = 'abcdefghij'
p = re.compile('((abc)d(e)fg(h)(ij))')
p1 = p.search(al)

print(p1.group(1))
print(p1.group(2))
print(p1.group(3))
print(p1.group(4))
print(p1.group(5))

abcdefghij
abc
e
h
ij

#### 13. [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 리스트로 출력하세요

In [5]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
del a[9:11]

print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

#### 14. 500 ~ 1000사이의 정수 중 5와 7의 공배수의 합을 구하세요

In [14]:
num = range(500, 1001)

# sum_ = []
# for i in num:
#     if i % 35 == 0:
#         sum_.append(i)

sum_ = [i for i in num if i % 35 == 0]

sum(sum_)

10535

#### 15. [    ]을 채워서 아래와 같이 출력하세요.

In [15]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[], [], []]

for number in numbers:
    output[(number + 2) % 3].append(number)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

####  16. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

In [16]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
numbers.sort()

count = {}

for i in numbers:
    if i in count:
        count[i] += 1
    else:
        count[i] = 1

print(count)

{2: 2, 3: 4, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2}

#### 17. 클래스 Country를 완성하여 아래와 같이 출력하세요.

In [17]:
class Country:
    def __init__(self, country, pop, capital):
        self.country = country
        self.pop = pop
        self.capital = capital
    
class Korea(Country):    
    def desc(self):
        print(f'{self.country}의 인구는 {self.pop}천만명이며 수도는 {self.capital}입니다.')

    def desc1(self, gnp):
        self.gnp = gnp
        print('1인당 gnp는 USD %d만입니다.' %self.gnp)
        
obj = Korea('한국',5,'서울')
obj.desc()
obj.desc1(3)

한국의 인구는 5천만명이며 수도는 서울입니다.
1인당 gnp는 USD 3만입니다.

#### 18. 사칙연산을 수행하는  클래스를 작성하여 객체를 만들고 2개의 정수 10, 5를 입력한 후 연산 결과를  포멧을 이용하여 출력하세요.

In [19]:
class Cal4:
    def __init__(self, a, b):
        self.a = a
        self.b = b
        
    def sum_(self):
        return self.a + self.b
    
    def sub(self):
        return self.a - self.b
    
    def mul(self):
        return self.a * self.b
    
    def div(self):
        return self.a / self.b
    
a = float(input('숫자 1 : '))
b = float(input('숫자 2 : '))

cal = Cal4(a, b)
# print(cal.sum_())
print(f'\na + b = {cal.sum_()}\na - b = {cal.sub()}\na * b = {cal.mul()}\na / b = {cal.div()}')

숫자 1 : 5
숫자 2 : 2

a + b = 7.0
a - b = 3.0
a * b = 10.0
a / b = 2.5

#### 19. 올해 경과된 날짜수를 계산하여 출력하세요.

In [20]:
import time

t = time.localtime()

print(f'{t.tm_year}년 1월 1일로부터 {t.tm_yday}일째 입니다.')

2022년 1월 1일로부터 9일째 입니다.

#### 20. 2015년 인기순 상위5개 여아이름별 출생아수를 출력하세요.('data/names/yob2015.txt')

In [21]:
file = 'D:/python/cakd5/m1_programming/data/names/yob2015.txt'

yob2015_F = []
with open(file, 'r') as f:
    data = f.readlines()
    for i in data:
        i = i[:-1]
        i = i.split(',')
        i[2] = int(i[2])
        if i[1] == 'F':
            yob2015_F.append(i)
            
birth_F = sorted(yob2015_F, key = lambda x: x[2], reverse = True)

for j in range(5):
    print(f'Top{j+1} : 여아 이름 - {birth_F[j][0]} / 출생아 수 - {birth_F[j][2]}')

Top1 : 여아 이름 - Emma / 출생아 수 - 20463
Top2 : 여아 이름 - Olivia / 출생아 수 - 19705
Top3 : 여아 이름 - Sophia / 출생아 수 - 17430
Top4 : 여아 이름 - Ava / 출생아 수 - 16383
Top5 : 여아 이름 - Isabella / 출생아 수 - 15633