## 프로젝트 기반 AI 빅데이터 서비스 솔루션 개발 전문과정

#### 교과목명 : 프로그래밍 언어 활용

- 평가일 : 22.01.07
- 성명 : 김기현
- 점수 :

※ 문제당 5점으로 채점

#### 1. numbers 리스트에서 15, 20, 25를 출력하세요.(for문과 if 조건 사용 필수)  
numbers = [5, 15, 6, 20, 7, 25]

## 정답

In [72]:
numbers = [5, 15, 6, 20, 7, 25]

for i in numbers:
    if i>=15 and i%5 == 0:
        print(i)
        
for j in numbers:
    if j < 15:
        continue
    print(j)

[5, 15, 6]

#### 2. 아래 사용자 함수, 변수 리스트 및 2개의 내장함수를 각각 이용해서  [1, 4, 9, 16, 25], [1, 2]를 출력하세요.(내장함수 2개 사용 필수)

## 오답

In [74]:
# 함수를 선언합니다.
def power(x):
    return x * x
def under_3(item):
    return item < 3

# 변수를 선언합니다.
list_input_a = [1, 2, 3, 4, 5]
list3 = list(map(str, list_input_a))
print(list3)

a = list(map(power, list_input_a))    
print(a)
b = list(filter(under_3, list_input_a))
print(b)

['1', '2', '3', '4', '5']
[1, 4, 9, 16, 25]
[1, 2]

#### 3. 정수를 입력하면 짝수 홀수 여부를 반환해주는 프로그램을 작성하세요.(정수 입력 후 '짝수', '홀수'가 일치하게 출력)

## 정답

In [11]:


try:
    num = int(input('정수를 입력하세요 : '))
    if num % 2 == 0:
        print('짝수 입니다.')
    elif num % 2 == 1:
        print('홀수 입니다.')

except:
    print('정수를 입력하세요')

정수를 입력하세요 : 0
짝수 입니다.

#### 4. 람다 함수를 이용해서 a의 b제곱에서 a x b를 뺀 수를 구하는 식을 만들고 그 식을 이용해서  a, b가 아래와 같이 주어졌을 때 각각의 값을 구하세요. 
a = 2, b = 5 \
a= 5, b = 2

## 정답

In [23]:
cal = lambda a, b: (a**b) - a*b

print(cal(2, 5))
print(cal(5, 2))

22
15

#### 5. 123456789를 입력하면 천 단위로 콤마로 구분하여 출력하세요.

## 오답

In [3]:
num = input()
# print(len(num))
if num.isdigit():
    num = num[::-1]
    ret = ''
    for i, c in enumerate(num):
        i += 1
        print(i, c)
        if i != len(num) and i % 3 == 0:
            ret += (c + ',')
        else:
            ret += c
    ret = ret[::-1]
    print()
    print(ret)
else:
    print(f'입력한 내용 {num} : 숫자가 아닙니다.')
    
# a = ('1' + ',')
# print(a)

1234561561
1 1
2 6
3 5
4 1
5 6
6 5
7 4
8 3
9 2
10 1

1,234,561,561

#### 6. example_list = ["요소A", "요소B", "요소C"]를 파이썬 내장함수를 이용하여 아래와 같이 출력하세요. 
0번째 요소는 요소A입니다.\
1번째 요소는 요소B입니다.\
2번째 요소는 요소C입니다.

## 정답

In [52]:
example_list = ["요소A", "요소B", "요소C"]

for i, value in enumerate(example_list):
    print(f'{i}번째 요소는 {value}입니다.')
    
    
# a = dict(enumerate(example_list))
# print(a)

0번째 요소는 요소A입니다.
1번째 요소는 요소B입니다.
2번째 요소는 요소C입니다.

#### 7. 97을 40으로 나눈 몫과 나머지를 내장함수를 이용하여 구하세요.(튜플로 출력 필수)

## 오답

In [1]:
def div(a, b):
    c = (a // b, a % b)
    print(c)

div(97, 40)

divmod(97, 40)

(2, 17)

(2, 17)

#### 8. list_number = [52, 273, 32, 72, 100]로 변수 선언하고 정수를 입력하면 그 정수 인덱스와 리스트에서 해당하는 값을 출력하는 프로그램을 작성하세요. 단, 모든 예외처리를 수행하며 특히 ValueError와 IndexError는 별도 구분해서 예외처리 한 후 '예외처리 완료'를 마지막으로 출력하세요.

- 4 입력시 \
정수 입력> 4 \
4번째 요소: 100
예외 처리 완료

- 문자 입력시 \
정수 입력> 가 \
정수를 입력해 주세요!
예외 처리 완료

- 5 입력시 \
정수 입력> 5 \
리스트의 인덱스를 벗어났어요!
예외 처리 완료

## 오답

In [24]:
list_number = [52, 273, 32, 72, 100]



try:
    put = input('입력해주세요 : ')
    print(f'{int(put)}번째 요소 : {list_number[int(put)]}')

except ValueError:
    print('정수를 입력해 주세요!')
    
except IndexError:
    print('인데스를 벗어났어요!')

finally:
    print('예외 처리 완료')

입력해주세요 : 0
0번째 요소 : 52
예외 처리 완료

#### 9. 사용자로부터 서로 다른 숫자 두 개를 입력받고 첫 번째 와 두 번째중 큰 숫자를 구하는 프로그램을 수행하세요.

## 정답

In [94]:
a = input('첫번째 숫자 : ')
b = input('두번째 숫자 : ')

relat = [a, b]
relat.sort()

print(f'{relat[1]}')



# a = input('첫번째 숫자 : ')
# b = input('두번째 숫자 : ')

# a = int(a)
# b = int(b)

# if a > b:
#     print(a)
# else:
#     print(b)

첫번째 숫자 : s
두번째 숫자 : a
s

#### 10. 1부터 100까지 아래와 같은 방식으로 2개의 수를 곱해서 가장 큰 수를 구하세요.

 1 * 99 ...99 * 1

## 정답

In [1]:
num = range(1, 100)

max_ = []
for i in num:
    mul = i * (100 - i)
    max_.append(mul)
    
max_.sort()
max_.reverse()
print(f'{max_[0]}')


# max_ = 0
# for i in num:
#     current = i * (100-i)
#     if max_ < current:
#         max_ = current
#         print(i)
#         print(max_)
#         print(current)

2500

#### 11. 정규표현식을 사용하여 text에서 지역코드만 출력하세요.
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."

## 정답

In [15]:
import re

text = '문의사항이 있으면 032-232-3245으로 연락주시기 바랍니다.'

p = re.compile('[\d]+')
local = p.search(text)
print(local.group())

032

#### 12. 'abcdefghij' 에 대하여 중첩을 적용한 서브그룹 5개로 컴파일하여 group()함수를 이용하여 'abcdefghi'와 e'를 출력하세요

## 정답

In [12]:
import re

line = 'abcdefghi'

a = re.compile('(ab(c)(d(e)fg)(hi))')
b = a.search('abcdefghi')

print(b.group(1))
print(b.group(2))
print(b.group(3))
print(b.group(4))
print(b.group(5))

abcdefghi
c
defg
e
hi

#### 13. [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']에서 9와 'a'를 삭제 후 리스트로 출력하세요

## 정답

In [28]:
list_1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
del list_1[9:11]


print(list_1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 'b', 'c']

#### 14. 500 ~ 1000사이의 정수 중 5와 7의 공배수의 합을 구하세요

## 정답

In [52]:
a = range(500, 1001)

b = [i for i in a if i % 35 == 0]

# for i in a:
#     if i % 35 == 0:
#         b.append(i)

sum(b)

10535

#### 15. [    ]을 채워서 아래와 같이 출력하세요.

## 오답

In [88]:
numbers = [1,2,3,4,5,6,7,8,9]
# output = [[1, 4, 7], [2, 5, 8], [3, 6, 9]]
output = [[], [], []]
for number in numbers:
    cal = (number + 2) % 3
    output[cal].append(number)

# print(*output)
print(output)

# newoutput = list(map(list, zip(*output)))
# print(newoutput)
# # print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

####  16. numbers 내부에 들어 있는 숫자가 몇 번 등장하는지를 출력하는 코드를 작성하세요.
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]

## 오답

In [63]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
numbers.sort()

counter = {}
for i in numbers:
    if i in counter:
        counter[i] = counter[i] + 1

    else:
        counter[i] = 1

print(counter)

{2: 2, 3: 4, 4: 2, 5: 2, 6: 2, 7: 2, 8: 2, 9: 2}

In [89]:
numbers = [3,6,3,5,8,2,9,7,4,3,6,3,5,8,2,9,7,4]
numbers.sort()

counter = []
for i in numbers:
    if i in counter:
        counter[i] = counter[i] + 1

    else:
        counter[i] = 1
    
    print(i)
    print(counter[i])
    print()
print(counter)

IndexError: list assignment index out of range

#### 17. 클래스 Country를 완성하여 아래와 같이 출력하세요.

## 오답

한국의 인구는 5천만명이며 수도는 서울입니다.
1인당 gnp는 USD 3만입니다.

In [9]:
class Country:
    def __init__(self, country, pop, city):
        self.country = country
        self.pop = pop
        self.city = city
        
    def desc(self):
        print('%s의 인구는 %d천만명이며 수도는 %s입니다.' %(self.country, self.pop, self.city))


class Korea(Country):    
    def desc1(self, gnp):
        self.gnp = gnp
        print('1인당 gnp는 USD %d만입니다.' %self.gnp)
        
obj = Korea('한국',5,'서울')
obj.desc()
obj.desc1(3)

한국의 인구는 5천만명이며 수도는 서울입니다.
1인당 gnp는 USD 3만입니다.

#### 18. 사칙연산을 수행하는  클래스를 작성하여 객체를 만들고 2개의 정수 10, 5를 입력한 후 연산 결과를  포멧을 이용하여 출력하세요.

## 오답

In [81]:


class Cal4:
    def __init__(self, a, b):
        self.a = a
        self.b = b
        
    def sum1(self):
        return self.a + self.b
        
    def sub1(self):
        return self.b - self.b
        
    def mul(self):
        return self.a * self.b
        
    def div(self):
        return self.a / self.b
        
a = int(input('숫자 1 : '))
b = int(input('숫자 2 : '))

obs = Cal4(a, b)

print(f'\na + b = {obs.sum1()}\na - b = {obs.sub1()}\na * b = {obs.mul()}\na / b = {obs.div()}')

숫자 1 : 1
숫자 2 : 5

a + b = 6
a - b = 0
a * b = 5
a / b = 0.2

#### 19. 올해 경과된 날짜수를 계산하여 출력하세요.

## 오답

In [94]:
import time

t = time.localtime()
print(t)
start_day = (f'{t.tm_year}-01-01')
print(f'오늘은 {start_day}이후 {t.tm_yday}일째 되는 날입니다.')
# start_day = f'{t.tm_year}

time.struct_time(tm_year=2022, tm_mon=1, tm_mday=9, tm_hour=16, tm_min=12, tm_sec=28, tm_wday=6, tm_yday=9, tm_isdst=0)
오늘은 2022-01-01이후 9일째 되는 날입니다.

#### 20. 2015년 인기순 상위5개 여아이름별 출생아수를 출력하세요.('data/names/yob2015.txt')

## 오답

In [92]:
# list 형태로 풀기

file = 'D:/python/cakd5/m1_programming/data/names/yob2015.txt'

name_f = []

with open(file, 'r') as f:
    data = f.readlines()
#     print(data)
    for d in data:
#         print(d)
        if d[-1] == '\n':
            d = d[:-1]
#             print(d)
            
        tmp = d.split(',')
#         print(tmp)
        name = tmp[0]
        sex = tmp[1]
        birth = int(tmp[2])
        if tmp[1] == 'F':
            name_f.append([name, sex, birth])
            
        
retF = sorted(name_f, key = lambda x: x[2], reverse = 1)
for i in range(5):
    print(f'Top{i+1} 여자아이이름 : {retF[i][0]} / 출생 수 : {retF[i][2]}')
        

        #         if sex == 'F':
#             ret = name_f
#         else:
#             ret = name_m
        
#         if name in ret:
#             ret[name] += int(birth)
#         else:
#             ret[name] = int(birth)
# #         print(name_f)
            
# retF = sorted(name_f.items(), key = lambda x: x[1], reverse = True)
# # print(retF)
# for i, name_birth in enumerate(retF):
# #     print(i)
# #     print(name)
#     if i <= 4:
#         print(f'Top{i+1} 여자아기이름 : {name_birth[0]} / 출생 수 : {name_birth[1]}')

Top1 여자아이이름 : Emma / 출생 수 : 20463
Top2 여자아이이름 : Olivia / 출생 수 : 19705
Top3 여자아이이름 : Sophia / 출생 수 : 17430
Top4 여자아이이름 : Ava / 출생 수 : 16383
Top5 여자아이이름 : Isabella / 출생 수 : 15633

In [59]:
# dict 형태로 풀기
file = 'D:/python/cakd5/m1_programming/data/names/yob2015.txt'

name_f = {}
name_m = {}

with open(file, 'r') as f:
    data = f.readlines()
#     print(data)
    for d in data:
#         print(d)
        if d[-1] == '\n':
            d = d[:-1]
#             print(d)
            
        tmp = d.split(',')
#         print(tmp)
        name = tmp[0]
        sex = tmp[1]
        birth = int(tmp[2])

        if sex == 'F':
            ret = name_f
        else:
            ret = name_m
        
        if name in ret:
            ret[name] += int(birth)
        else:
            ret[name] = int(birth)
#         print(name_f)
            
retF = sorted(name_f.items(), key = lambda x: x[1], reverse = True)
# print(retF)
for i, name_birth in enumerate(retF):
#     print(i)
#     print(name)
    if i <= 4:
        print(f'Top{i+1} 여자아기이름 : {name_birth[0]} / 출생 수 : {name_birth[1]}')

Top1 여자아기이름 : Emma / 출생 수 : 20463
Top2 여자아기이름 : Olivia / 출생 수 : 19705
Top3 여자아기이름 : Sophia / 출생 수 : 17430
Top4 여자아기이름 : Ava / 출생 수 : 16383
Top5 여자아기이름 : Isabella / 출생 수 : 15633

In [23]:
# 원본 리스트
a = ['BlockDMask', 'python', 'example', 'happy new year']
print(a)
print()
 
# 리스트를 문자열로 합치기
result = ".\n".join(a)
result2 = result.split('.\n')

print(result)
print(result2)

['BlockDMask', 'python', 'example', 'happy new year']

BlockDMask.
python.
example.
happy new year
['BlockDMask', 'python', 'example', 'happy new year']