In [1]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score, cross_validate
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
import re
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

##### [과제] 붓꽃 케이스에 대한 교차 검증을 아래와 같이 수행하세요.
---
- 각 회차별 교차 검증 및 검증 세트 인덱스
- 평균 검증 정확도

In [57]:
iris = load_iris()
iris_df = pd.DataFrame(iris.data, columns = iris.feature_names)
iris_df['target'] = iris.target
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [58]:
from sklearn.model_selection import StratifiedKFold
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

data = np.array(iris_df.drop('target', axis = 1))
label = np.array(iris_df['target'])
skf = StratifiedKFold(n_splits = 3)
dt_clf = DecisionTreeClassifier(random_state = 15)

cv_accuracy = []
num = 0
for train_index, test_index in skf.split(data, label):
    X_train, X_test = data[train_index], data[test_index]
    y_train, y_test = label[train_index], label[test_index]
    
    dt_clf.fit(X_train, y_train)
    pred = dt_clf.predict(X_test)
    accuracy = np.round(accuracy_score(y_test, pred), 4)
    
    num += 1
    label_train = iris_df['target'].iloc[train_index]
    label_test = iris_df['target'].iloc[test_index]
    print('ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ')
    print(f'<{num}회차 교차검증 정확도 : {accuracy}>\n')
    print(f'학습 레이블 데이터 분포 : \n{label_train.value_counts()}', '\n')
    print(f'검증 레이블 데이터 분포 : \n{label_test.value_counts()}', '\n')
    print(f'학습세트 인덱스 : \n{train_index}', '\n')
    print(f'검증세트 인덱스 : \n{test_index}')
    print('ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ\n')
    cv_accuracy.append(accuracy)
print(f'<평균 검증 정확도 : {np.mean(cv_accuracy)}>')

ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
<1회차 교차검증 정확도 : 0.98>

학습 레이블 데이터 분포 :
2    34
0    33
1    33
Name: target, dtype: int64

검증 레이블 데이터 분포 :
0    17
1    17
2    16
Name: target, dtype: int64

학습세트 인덱스 :
[ 17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34
  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  67  68  69
  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87
  88  89  90  91  92  93  94  95  96  97  98  99 116 117 118 119 120 121
 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139
 140 141 142 143 144 145 146 147 148 149]

검증세트 인덱스 :
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  50
  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66 100 101
 102 103 104 105 106 107 108 109 110 111 112 113 114 115]
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
<2회차 교차검증 정확도 : 0.92>

학습 레이블 데이터 분포 :
1    34
0    33
2    33
Name: target, dtype: int64

검증 레이블 데이터 분포 :
0    17
2    17
1    16
Name: target, dtype: int64

학습세트 인덱스 :
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  34
  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52
  53  54  55  56  57  58  59  60  61  62  63  64  65  66  83  84  85  86
  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104
 105 106 107 108 109 110 111 112 113 114 115 133 134 135 136 137 138 139
 140 141 142 143 144 145 146 147 148 149]

검증세트 인덱스 :
[ 17  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  67
  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82 116 117 118
 119 120 121 122 123 124 125 126 127 128 129 130 131 132]
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
<3회차 교차검증 정확도 : 1.0>

학습 레이블 데이터 분포 :
0    34
1    33
2    33
Name: target, dtype: int64

검증 레이블 데이터 분포 :
1    17
2    17
0    16
Name: target, dtype: int64

학습세트 인덱스 :
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  50  51
  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69
  70  71  72  73  74  75  76  77  78  79  80  81  82 100 101 102 103 104
 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122
 123 124 125 126 127 128 129 130 131 132]

검증세트 인덱스 :
[ 34  35  36  37  38  39  40  41  42  43  44  45  46  47  48  49  83  84
  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 133 134 135
 136 137 138 139 140 141 142 143 144 145 146 147 148 149]
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

<평균 검증 정확도 : 0.9666666666666667>

##### [과제] train.csv 데이터로 생존자 분석 예측을 위한 분석용 데이터셋을 하나의 전처리 사용자 함수를 이용하여 작성한 후 모델링 및 성능 평가를 수행하세요. (단, 전처리는 5개 이상, 시각적 탐색 3개 이상, 정확도는 0.85이상)
---

In [110]:
t_df = pd.read_csv('../data/train.csv')
t_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [111]:
plt.style.use('seaborn')
plt.rc('font', family = 'Malgun Gothic') # 한글 입력
plt.rcParams['axes.unicode_minus'] = False # 글꼴 변경시 마이너스 표기 가능으로 처리

# plt.scatter(x = tdf['Age_cat'], y = tdf.index)

In [112]:
def transform_features(df):
    df1 = df.copy()
#     def Age_cat(x):
#         if x < 10: return '어린이'
#         elif x < 20: return '10대'
#         elif x < 30 : return '20대'
#         elif x < 40 : return '30대'
#         elif x < 50 : return '40대'
#         elif x < 60 : return '50대'
#         elif x >= 60 : return '노인'
    def Age_cat(x):
        if x < 10: return 0
        elif x < 20: return 1
        elif x < 30 : return 2
        elif x < 40 : return 3
        elif x < 50 : return 4
        elif x < 60 : return 5
        elif x >= 60 : return 6
        
    title = []
    for i in df['Name']:
        a = re.search(', [\w\s]+', i).group()
        b = re.sub(', ', '', a)
        title.append(b)
    df1['Title'] = title
    titlemean = df1.groupby('Title').mean()['Age']
    for i in titlemean.index:
        df1.loc[(df1['Age'].isnull()) & (df1['Title'] == i), 'Age'] = titlemean.loc[i]
    
    df1['Age'].fillna(df1['Age'].mean(), inplace = True)
    df1['Age_cat'] = df1['Age'].apply(Age_cat)
    df1['Family'] = df1['SibSp'] + df1['Parch']
#     df1.loc[df1['Family'] >= 1 , ['Family']] = 1
    scaler1 = MinMaxScaler()
#     scaler2 = StandardScaler()
    df1['Family'] = scaler1.fit_transform(np.array(df1['Family']).reshape(-1, 1))
#     df1['Age_cat'] = scaler1.fit_transform(np.array(df1['Age_cat']).reshape(-1, 1))
#     df1['Fare'] = scaler2.fit_transform(np.array(df1['Fare']).reshape(-1, 1))
    df1['Embarked'].ffill(inplace = True)
    for i in ['Age_cat', 'Sex', 'Embarked']:
        df1[i] = LabelEncoder().fit_transform(df1[i]).reshape(-1, 1)
#     for i in ['Pclass', 'Embarked', 'Sex']:
#         df1[i] = df1[i].astype(str)
    df1.drop(['PassengerId', 'Age', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Title', 'Fare'], axis = 1, inplace = True)
    return pd.get_dummies(df1)

In [124]:
tdf = transform_features(t_df)
display(tdf.head())

dt_clf = DecisionTreeClassifier(random_state = 150)
lr_clf = LogisticRegression(random_state = 150)
data = tdf.drop(['Survived'], axis = 1)
label = tdf['Survived']
scores = cross_val_score(dt_clf, data, label, scoring = 'accuracy', cv = 14)
scores

print(np.mean(scores))
tdf.info()

   Survived  Pclass  Sex  Embarked  Age_cat  Family
0         0       3    1         2        2     0.1
1         1       1    0         0        3     0.1
2         1       3    0         2        2     0.0
3         1       1    0         2        3     0.1
4         0       3    1         2        3     0.0

0.8013392857142858
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int32
 3   Embarked  891 non-null    int32
 4   Age_cat   891 non-null    int64
 5   Family    891 non-null    float64
dtypes: float64(1), int32(2), int64(3)
memory usage: 34.9 KB

In [129]:
### random_state = int(input())
random_state = 150
X_train, X_test, y_train, y_test = train_test_split(data, label, 
                                                    test_size = 0.2, random_state = random_state)

dtree = DecisionTreeClassifier()
parameters = {'max_depth': [2, 3, 3, 4, 4], 'min_samples_split': [2, 3, 3, 4]}
lr_params = {'penalty': ['l1', 'l2', 'l3'], 'C': [0.1, 1, 10]}
grid_dtree = GridSearchCV(dtree, param_grid = parameters, cv = 14, refit = True)

grid_dtree.fit(X_train, y_train)
scores_df = pd.DataFrame(grid_dtree.cv_results_)
display(scores_df[['params', 'mean_test_score', 'rank_test_score']])

print('GridSearchCV 최적 파라미터 :', grid_dtree.best_params_)
print(f'GridSearchCV 최고 정확도 : {grid_dtree.best_score_.round(3)}') 

estimator = grid_dtree.best_estimator_
pred = estimator.predict(X_test)
print(f'테스트 데이터 정확도 : {accuracy_score(y_test, pred).round(3)}')

rf_model = RandomForestClassifier(random_state = random_state)
rf_model.fit(X_train, y_train)
rf_pred = rf_model.predict(X_test)
accuracy_rf = accuracy_score(y_test, rf_pred).round(3)

lr_model = LogisticRegression(random_state = random_state)
lr_model.fit(X_train, y_train)
lr_pred = lr_model.predict(X_test)
accuracy_lr = accuracy_score(y_test, lr_pred).round(3)

print(f'rf 정확도 : {accuracy_rf}, lr 정확도 : {accuracy_lr}')

                                      params  mean_test_score  rank_test_score
0   {'max_depth': 2, 'min_samples_split': 2}         0.758431               17
1   {'max_depth': 2, 'min_samples_split': 3}         0.758431               17
2   {'max_depth': 2, 'min_samples_split': 3}         0.758431               17
3   {'max_depth': 2, 'min_samples_split': 4}         0.758431               17
4   {'max_depth': 3, 'min_samples_split': 2}         0.814650                9
5   {'max_depth': 3, 'min_samples_split': 3}         0.814650                9
6   {'max_depth': 3, 'min_samples_split': 3}         0.814650                9
7   {'max_depth': 3, 'min_samples_split': 4}         0.814650                9
8   {'max_depth': 3, 'min_samples_split': 2}         0.814650                9
9   {'max_depth': 3, 'min_samples_split': 3}         0.814650                9
10  {'max_depth': 3, 'min_samples_split': 3}         0.814650                9
11  {'max_depth': 3, 'min_samples_split': 4}         0.814650                9
12  {'max_depth': 4, 'min_samples_split': 2}         0.817507                6
13  {'max_depth': 4, 'min_samples_split': 3}         0.818908                1
14  {'max_depth': 4, 'min_samples_split': 3}         0.817507                6
15  {'max_depth': 4, 'min_samples_split': 4}         0.818908                1
16  {'max_depth': 4, 'min_samples_split': 2}         0.818908                1
17  {'max_depth': 4, 'min_samples_split': 3}         0.818908                1
18  {'max_depth': 4, 'min_samples_split': 3}         0.818908                1
19  {'max_depth': 4, 'min_samples_split': 4}         0.817507                6

GridSearchCV 최적 파라미터 : {'max_depth': 4, 'min_samples_split': 3}
GridSearchCV 최고 정확도 : 0.819
테스트 데이터 정확도 : 0.872
rf 정확도 : 0.844, lr 정확도 : 0.86

In [1640]:
# dtree = 3, 3
# renfor = 4, 3
# random_state = 11, 19, 46, 71, 83, 130, 138, 150