In [37]:
!pip install pymysql

Requirement already satisfied: pymysql in /usr/local/lib/python3.7/dist-packages (1.0.2)

In [38]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import pymysql
from sqlalchemy import create_engine
import re

# # 4개월 통계 평균내어 합치기
---

In [ ]:
df1 = pd.read_excel('/content/drive/MyDrive/workspace/cakd5/3차_project/자료/서울시 교통량/2022년 1월 서울시 차량통행속도.xlsx')
df2 = pd.read_excel('/content/drive/MyDrive/workspace/cakd5/3차_project/자료/서울시 교통량/2022년 2월 서울시 차량통행속도.xlsx')
df3 = pd.read_excel('/content/drive/MyDrive/workspace/cakd5/3차_project/자료/서울시 교통량/2022년 3월 서울시 차량통행속도.xlsx')
df4 = pd.read_excel('/content/drive/MyDrive/workspace/cakd5/3차_project/자료/서울시 교통량/2022년 4월 서울시 차량통행속도.xlsx')

In [ ]:
for i in range(1, 5):
    globals()[f'df{i}_temp'] = globals()[f'df{i}'].drop(['일자', '요일', '방향', '기능유형구분', '도심/외곽구분', '권역구분'], axis = 1)
    globals()[f'df{i}_temp'] = globals()[f'df{i}_temp'].groupby(['도로명', '링크아이디', '시점명', '종점명', '거리', '차선수']).mean()
    globals()[f'df{i}_temp'] = pd.DataFrame(globals()[f'df{i}_temp'].mean(axis = 1), columns = ['평균속도']).reset_index()

In [ ]:
for i in df1['링크아이디'].unique():
    if i not in df4['링크아이디'].unique():
        print(i)

1179910010
1179920110
1100004700
1100004100
1100003700
1100003300
1100002900
1100002500
1100001900
1100001300

In [ ]:
df_road = pd.concat([df1_temp, df2_temp, df3_temp, df4_temp]).groupby(['도로명', '링크아이디', '시점명', '종점명']).mean().reset_index()
df_road

        도로명       링크아이디           시점명           종점명      거리  차선수       평균속도
0     4.19로  1080012100      국립4.19묘지       아카데미하우스  1190.0  1.0  50.554654
1     4.19로  1080012200       아카데미하우스      국립4.19묘지  1179.0  1.0  40.807003
2     4.19로  1080012700    국립4.19묘지입구      국립4.19묘지   354.0  2.0  22.123764
3     4.19로  1080012800      국립4.19묘지    국립4.19묘지입구   352.0  2.0  16.151263
4       가락로  1230014100         송파사거리          배명고교  1288.0  1.0  21.176106
...     ...         ...           ...           ...     ...  ...        ...
5013    흑석로  1190003806      흑석2동신한은행  흑석2동신한은행_흑석로    55.0  0.0  15.556370
5014    흑석로  1190003807  흑석2동신한은행_흑석로          한신빌딩    86.0  0.0  13.804152
5015    흑석로  1190003808          한신빌딩           흑석역   149.0  0.0  19.410251
5016   희우정로  1130016300        한강공원입구        망원정사거리   688.0  2.0  19.423084
5017   희우정로  1130016400        망원정사거리        한강공원입구   692.0  2.0  21.743057

[5018 rows x 7 columns]

# # 도로 링크에 위도, 경도 매칭
---

In [ ]:
key = '41466b59516c75633737616e776c6e'
url = f'http://openapi.seoul.go.kr:8088/{key}/xml/LinkVerInfo/1/100/1190003806'

html = requests.get(url).text
soup = BeautifulSoup(html, 'html.parser')

print(soup.prettify())

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<linkverinfo>
 <list_total_count>
  2
 </list_total_count>
 <result>
  <code>
   INFO-000
  </code>
  <message>
   정상 처리되었습니다
  </message>
 </result>
 <row>
  <link_id>
   1190003806
  </link_id>
  <ver_seq>
   1
  </ver_seq>
  <grs80tm_x>
   196552.74
  </grs80tm_x>
  <grs80tm_y>
   445355.96
  </grs80tm_y>
 </row>
 <row>
  <link_id>
   1190003806
  </link_id>
  <ver_seq>
   2
  </ver_seq>
  <grs80tm_x>
   196574.23
  </grs80tm_x>
  <grs80tm_y>
   445406.89
  </grs80tm_y>
 </row>
</linkverinfo>

In [ ]:
linestrings = []
for link in df_road['링크아이디'].unique():
    key = '41466b59516c75633737616e776c6e'
    url = f'http://openapi.seoul.go.kr:8088/{key}/xml/LinkVerInfo/1/100/{link}'

    html = requests.get(url).text
    soup = BeautifulSoup(html, 'html.parser')

    tmx = soup.findAll('grs80tm_x')
    tmy = soup.findAll('grs80tm_y')

    linestring_temp = []
    for i, j in zip(tmx, tmy):
        coordinates = i.string + ' ' + j.string
        linestring_temp.append(coordinates)

    linestring = f'LINESTRING({", ".join(linestring_temp)})'
    linestrings.append(linestring)

In [ ]:
df_road['좌표'] = linestrings
df_road

,도로명,링크아이디,시점명,종점명,거리,차선수,평균속도,좌표
0,4.19로,1080012100,국립4.19묘지,아카데미하우스,1190.0,1.0,50.554654,"LINESTRING(200922.029608 460861.980019, 200813..."
1,4.19로,1080012200,아카데미하우스,국립4.19묘지,1179.0,1.0,40.807003,"LINESTRING(200093.216226 460082.175907, 200103..."
2,4.19로,1080012700,국립4.19묘지입구,국립4.19묘지,354.0,2.0,22.123764,"LINESTRING(201260.448924 460963.718696, 201233..."
3,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,352.0,2.0,16.151263,"LINESTRING(200925.590526 460850.520531, 201236..."
4,가락로,1230014100,송파사거리,배명고교,1288.0,1.0,21.176106,"LINESTRING(209737.386729 444735.668203, 208590..."
...,...,...,...,...,...,...,...,...
5013,흑석로,1190003806,흑석2동신한은행,흑석2동신한은행_흑석로,55.0,0.0,15.556370,"LINESTRING(196552.74 445355.96, 196574.23 4454..."
5014,흑석로,1190003807,흑석2동신한은행_흑석로,한신빌딩,86.0,0.0,13.804152,"LINESTRING(196574.16 445406.73, 196605.77 4454..."
5015,흑석로,1190003808,한신빌딩,흑석역,149.0,0.0,19.410251,"LINESTRING(196612.75 445482.55, 196639.72 4455..."
5016,희우정로,1130016300,한강공원입구,망원정사거리,688.0,2.0,19.423084,"LINESTRING(191067.032903 450731.742079, 191224..."
5017,희우정로,1130016400,망원정사거리,한강공원입구,692.0,2.0,21.743057,"LINESTRING(191601.621229 450291.707953, 191443..."

In [ ]:
df_road.to_csv('/content/drive/MyDrive/workspace/cakd5/3차_project/MariaDB 테이블/traffic.csv')

In [39]:
df_road = pd.read_csv('/content/drive/MyDrive/workspace/cakd5/3차_project/MariaDB 테이블/traffic.csv', index_col = 0)
df_road_poly = df_road.copy()
df_road_poly['좌표'] = df_road['좌표'].str.replace('LINESTRING\(', 'POLYGON ((').str.replace('\)', '))')
df_road_poly

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

,도로명,링크아이디,시점명,종점명,거리,차선수,평균속도,좌표
0,4.19로,1080012100,국립4.19묘지,아카데미하우스,1190.0,1.0,50.554654,"POLYGON ((200922.029608 460861.980019, 200813...."
1,4.19로,1080012200,아카데미하우스,국립4.19묘지,1179.0,1.0,40.807003,"POLYGON ((200093.216226 460082.175907, 200103...."
2,4.19로,1080012700,국립4.19묘지입구,국립4.19묘지,354.0,2.0,22.123764,"POLYGON ((201260.448924 460963.718696, 201233...."
3,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,352.0,2.0,16.151263,"POLYGON ((200925.590526 460850.520531, 201236...."
4,가락로,1230014100,송파사거리,배명고교,1288.0,1.0,21.176106,"POLYGON ((209737.386729 444735.668203, 208590...."
...,...,...,...,...,...,...,...,...
5013,흑석로,1190003806,흑석2동신한은행,흑석2동신한은행_흑석로,55.0,0.0,15.556370,"POLYGON ((196552.74 445355.96, 196574.23 44540..."
5014,흑석로,1190003807,흑석2동신한은행_흑석로,한신빌딩,86.0,0.0,13.804152,"POLYGON ((196574.16 445406.73, 196605.77 44547..."
5015,흑석로,1190003808,한신빌딩,흑석역,149.0,0.0,19.410251,"POLYGON ((196612.75 445482.55, 196639.72 44550..."
5016,희우정로,1130016300,한강공원입구,망원정사거리,688.0,2.0,19.423084,"POLYGON ((191067.032903 450731.742079, 191224...."
5017,희우정로,1130016400,망원정사거리,한강공원입구,692.0,2.0,21.743057,"POLYGON ((191601.621229 450291.707953, 191443...."

In [42]:
df_road_line = df_road.copy()
df_road_line['좌표'] = df_road['좌표'].str.replace('LINESTRING\(', 'LINESTRING ((').str.replace('\)', '))')
df_road_line

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

,도로명,링크아이디,시점명,종점명,거리,차선수,평균속도,좌표
0,4.19로,1080012100,국립4.19묘지,아카데미하우스,1190.0,1.0,50.554654,"LINESTRING ((200922.029608 460861.980019, 2008..."
1,4.19로,1080012200,아카데미하우스,국립4.19묘지,1179.0,1.0,40.807003,"LINESTRING ((200093.216226 460082.175907, 2001..."
2,4.19로,1080012700,국립4.19묘지입구,국립4.19묘지,354.0,2.0,22.123764,"LINESTRING ((201260.448924 460963.718696, 2012..."
3,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,352.0,2.0,16.151263,"LINESTRING ((200925.590526 460850.520531, 2012..."
4,가락로,1230014100,송파사거리,배명고교,1288.0,1.0,21.176106,"LINESTRING ((209737.386729 444735.668203, 2085..."
...,...,...,...,...,...,...,...,...
5013,흑석로,1190003806,흑석2동신한은행,흑석2동신한은행_흑석로,55.0,0.0,15.556370,"LINESTRING ((196552.74 445355.96, 196574.23 44..."
5014,흑석로,1190003807,흑석2동신한은행_흑석로,한신빌딩,86.0,0.0,13.804152,"LINESTRING ((196574.16 445406.73, 196605.77 44..."
5015,흑석로,1190003808,한신빌딩,흑석역,149.0,0.0,19.410251,"LINESTRING ((196612.75 445482.55, 196639.72 44..."
5016,희우정로,1130016300,한강공원입구,망원정사거리,688.0,2.0,19.423084,"LINESTRING ((191067.032903 450731.742079, 1912..."
5017,희우정로,1130016400,망원정사거리,한강공원입구,692.0,2.0,21.743057,"LINESTRING ((191601.621229 450291.707953, 1914..."

# # 마리아DB에 저장
---

In [ ]:
db_connection_str = 'mysql+pymysql://root:ASewetsvc124~1242#%1wsdeWXV@34.64.132.212:3306/source'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

df_road.to_sql(name = 'traffic',con = db_connection, index = False, if_exists = 'replace')

In [ ]:
db_connection_str = 'mysql+pymysql://root:ASewetsvc124~1242#%1wsdeWXV@34.64.132.212:3306/source'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

df_road_poly.to_sql(name = 'traffic_poly',con = db_connection, index = False, if_exists = 'replace')

In [45]:
db_connection_str = 'mysql+pymysql://root:ASewetsvc124~1242#%1wsdeWXV@34.64.132.212:3306/source'
db_connection = create_engine(db_connection_str)
conn = db_connection.connect()

df_road_line.to_sql(name = 'traffic_line',con = db_connection, index = False, if_exists = 'replace')