In [1]:
import numpy as np

In [2]:
arr = np.random.randint(1, 10, size = (5, 5))
arr

array([[2, 5, 7, 1, 4],
       [1, 5, 5, 8, 9],
       [5, 7, 4, 4, 5],
       [3, 2, 8, 5, 2],
       [9, 2, 3, 7, 5]])

In [3]:
# 전치

print(arr.T)
print(np.transpose(arr))

[[2 1 5 3 9]
 [5 5 7 2 2]
 [7 5 4 8 3]
 [1 8 4 5 7]
 [4 9 5 2 5]]
[[2 1 5 3 9]
 [5 5 7 2 2]
 [7 5 4 8 3]
 [1 8 4 5 7]
 [4 9 5 2 5]]

In [4]:
# 행렬곱, 내적

np.dot(arr.T, arr)

array([[120,  74,  90, 108,  93],
       [ 74, 107, 110,  97, 114],
       [ 90, 110, 163, 124, 124],
       [108,  97, 124, 155, 141],
       [ 93, 114, 124, 141, 151]])

In [21]:
a = np.arange(6).reshape((2, 3))
print(a, '\n')

y = np.swapaxes(a, 0, 1) # 0은 2차원(열), 1은 1차원(행)
print(y, '\n')

y = a.T
y = np.transpose(a)
print(y)

[[0 1 2]
 [3 4 5]]

[[0 3]
 [1 4]
 [2 5]]

[[0 3]
 [1 4]
 [2 5]]

In [34]:
# 1 ~ 100을 아래와 같이 출력하세요.

# [[  1   2   3   4   5   6   7   8   9  10]
#  [ 20  19  18  17  16  15  14  13  12  11]
#  [ 21  22  23  24  25  26  27  28  29  30]
#  [ 40  39  38  37  36  35  34  33  32  31]
#  [ 41  42  43  44  45  46  47  48  49  50]
#  [ 60  59  58  57  56  55  54  53  52  51]
#  [ 61  62  63  64  65  66  67  68  69  70]
#  [ 80  79  78  77  76  75  74  73  72  71]
#  [ 81  82  83  84  85  86  87  88  89  90]
#  [100  99  98  97  96  95  94  93  92  91]] <class 'numpy.ndarray'>

a = np.arange(1, 101).reshape((10, -1))
for i in range(10):
    if i % 2 == 1:
        a[i] = a[i][::-1]
print(a)

print()

arr = np.arange(1,101).reshape(10,10)
arr[1::2] = arr[1::2][0, ::-1]
# arr[1::2] = arr[1::2, ::-1]
print(arr)

print()

arr = np.arange(1,101).reshape(10,10)
arr[[1,3,5,7,9]] = arr[[1,3,5,7,9]][:,[9,8,7,6,5,4,3,2,1,0]]
print(arr)

[[  1   2   3   4   5   6   7   8   9  10]
 [ 20  19  18  17  16  15  14  13  12  11]
 [ 21  22  23  24  25  26  27  28  29  30]
 [ 40  39  38  37  36  35  34  33  32  31]
 [ 41  42  43  44  45  46  47  48  49  50]
 [ 60  59  58  57  56  55  54  53  52  51]
 [ 61  62  63  64  65  66  67  68  69  70]
 [ 80  79  78  77  76  75  74  73  72  71]
 [ 81  82  83  84  85  86  87  88  89  90]
 [100  99  98  97  96  95  94  93  92  91]]

[[ 1  2  3  4  5  6  7  8  9 10]
 [20 19 18 17 16 15 14 13 12 11]
 [21 22 23 24 25 26 27 28 29 30]
 [20 19 18 17 16 15 14 13 12 11]
 [41 42 43 44 45 46 47 48 49 50]
 [20 19 18 17 16 15 14 13 12 11]
 [61 62 63 64 65 66 67 68 69 70]
 [20 19 18 17 16 15 14 13 12 11]
 [81 82 83 84 85 86 87 88 89 90]
 [20 19 18 17 16 15 14 13 12 11]]

[[  1   2   3   4   5   6   7   8   9  10]
 [ 20  19  18  17  16  15  14  13  12  11]
 [ 21  22  23  24  25  26  27  28  29  30]
 [ 40  39  38  37  36  35  34  33  32  31]
 [ 41  42  43  44  45  46  47  48  49  50]
 [ 60  59  58  57  56  55  54  53  52  51]
 [ 61  62  63  64  65  66  67  68  69  70]
 [ 80  79  78  77  76  75  74  73  72  71]
 [ 81  82  83  84  85  86  87  88  89  90]
 [100  99  98  97  96  95  94  93  92  91]]

In [268]:
# (0, 1, 2) : 각 차원의 인덱스 값
# 3차원과 2차원을 바꾸는 경우 : (1, 2, 3) -> (2, 1, 3)

a = np.arange(6).reshape(1, 2, 3) # axis0 (3차원) = 1, axis1 (2차원) = 2, axis2 (1차원) = 3
print(a, a.shape, '\n')

y = np.transpose(a, (1, 0, 2)) # 괄호 안의 숫자는 원본 axis위치의 그 값을 말한다. axis1 -> axis0 = 2 / axis0 -> axis1 = 1 / axis2 -> axis2 = 3
print(y, y.shape)

[[[0 1 2]
  [3 4 5]]] (1, 2, 3)

[[[0 1 2]]

 [[3 4 5]]] (2, 1, 3)

In [273]:
# (1, 2, 3) -> (2, 3, 1)
a = np.arange(6).reshape(1, 2, 3)
print(a, a.shape, '\n')

y = np.transpose(a, (1, 2, 0))
print(y)

[[[0 1 2]
  [3 4 5]]] (1, 2, 3)

[[[0]
  [1]
  [2]]

 [[3]
  [4]
  [5]]]

In [276]:
# 나머지를 구할 경우 사용하는 함수

value1 = np.array([15, 30, 45])
value2 = np.array([2, 7, 9])

print(np.mod(value1, value2))
print(np.remainder(value1, value2))

[1 2 0]
[1 2 0]

In [278]:
# 각 수의 역수를 구해주는 함수

value = np.array([0.85, 1.85, 1, 100])
print(np.reciprocal(value))

[1.17647059 0.54054054 1.         0.01      ]

In [282]:
# 승수의 결과 값을 표시해주는 함수

value1 = np.array([2, 10, 15])
value2 = np.array([1, 3, 3])

print(np.power(value1, 2), '\n')
print(np.power(value1, value2))

[  4 100 225]

[   2 1000 3375]

In [13]:
# 양수인 원소의 개수

arr = np.random.randn(10)
print(arr.mean(), '\n')
print(arr.std())

(arr > 0).sum()

-0.01940507031140029

0.9231623722663732

5

In [16]:
# 하나 이상의 값이 True인지 검사

bools = np.array([False, False, True, True])
bools.any()

True

In [18]:
# 모든 원소가 True인지 검사

bools.all()

False

In [26]:
# 삼항식의 벡터화 버전

arr = np.random.randn(4, 4)
print(arr, '\n')
np.where(arr > 0, 2, -2) # 삼항식 : (조건, 조건일때 True, 조건일때 False)

[[ 1.36802695e+00  5.95771983e-01  5.85236956e-01 -1.18112097e-01]
 [ 1.21405016e+00 -7.45733305e-01  1.44915374e+00  7.56541409e-01]
 [ 2.16049770e-01 -3.95685639e-01 -1.02035340e+00  3.39648350e-01]
 [-1.81886524e+00 -1.61382002e-03 -8.97040578e-01  1.84452964e+00]]

array([[ 2,  2,  2, -2],
       [ 2, -2,  2,  2],
       [ 2, -2, -2,  2],
       [-2, -2, -2,  2]])

In [29]:
# arr의 모든 양수를 2로 바꿀 경우

np.where(arr > 0, 2, arr)

array([[ 2.00000000e+00,  2.00000000e+00,  2.00000000e+00,
        -1.18112097e-01],
       [ 2.00000000e+00, -7.45733305e-01,  2.00000000e+00,
         2.00000000e+00],
       [ 2.00000000e+00, -3.95685639e-01, -1.02035340e+00,
         2.00000000e+00],
       [-1.81886524e+00, -1.61382002e-03, -8.97040578e-01,
         2.00000000e+00]])

In [31]:
# 두개의 1차언 배열을 받아서 가능한 모든 (x, y)짝을 만들 수 있는 2차원 배열 2개 반환

x = np.arange(1, 4)
y = np.arange(1, 4)
xs, ys = np.meshgrid(x, y)
print(xs, '\n')
print(ys)

[[1 2 3]
 [1 2 3]
 [1 2 3]]

[[1 1 1]
 [2 2 2]
 [3 3 3]]

In [35]:
# np.sort()

np.random.seed(0)
arr = np.random.randint(1, 100, size = 10)
print(arr, '\n')
print(np.sort(arr), '\n')
print(arr, '\n')

sorted_ = np.sort(arr)
print(sorted_)

[45 48 65 68 68 10 84 22 37 88]

[10 22 37 45 48 65 68 68 84 88]

[45 48 65 68 68 10 84 22 37 88]

[10 22 37 45 48 65 68 68 84 88]

In [9]:
# 행렬이 2차원 이상일 때 axis 축 값 설정을 통해 행, 열 방향으로 정렬 수행

arr2d = np.array([[8, 12], [7, 1]])
sort_ar2d_axis0 = np.sort(arr2d, axis = 0)
print(sort_ar2d_axis0, '\n')

sort_ar2d_axis1 = np.sort(arr2d, axis = 1)
print(sort_ar2d_axis1, '\n')

[[ 7  1]
 [ 8 12]]

[[ 8 12]
 [ 1  7]]

In [131]:
# ndarray.sort() : 원본 반영

np.random.seed(0)
arr = np.random.randint(1, 10, size = 10)
print(arr, '\n')
arr.sort() # 원본 반영
print(arr)

[6 1 4 4 8 4 6 3 5 8]

[1 3 4 4 4 5 6 6 8 8]

In [1]:
# 다차원 배열의 정렬은 sort 메소드에 넘긴 축에 따라 1차원 부분을 정렬

np.random.seed(0)
ar = np.random.randint(1, 10, size = (5, 3))
print(ar, '\n')
# ar.sort() # 모든 행을 열방향 정렬이 default
# ar.sort(0) # 1열을 행방향 정렬
ar.sort(1) # 모든 행을 열방향 정렬
print(ar)

NameError: name 'np' is not defined

In [168]:
# 정렬된 행렬의 인덱스 반환 : 기존 원본 행렬의 원소에 대한 인덱스를 필요로 할 때

org_array = np.array([3, 1, 9, 5])

sort_indices = np.argsort(org_array)
print(org_array)
print(type(sort_indices))

sort_indices

[3 1 9 5]
<class 'numpy.ndarray'>

array([1, 0, 3, 2], dtype=int64)

In [59]:
# 배열에서 정렬한 후 5% 분위수 내의 요소만 출력

large_arr = np.random.randn(100)
large_arr.sort()
print(large_arr)
print(large_arr[int(0.05 * len(large_arr))])
print(large_arr[80:])

[-2.78309732 -2.26136066 -2.04025201 -1.95331285 -1.84049437 -1.78801135
 -1.75199776 -1.64529759 -1.60957385 -1.5768917  -1.47421169 -1.40245299
 -1.31908057 -1.31840423 -1.28543097 -1.13468373 -1.10140226 -1.03288776
 -0.9999879  -0.98344736 -0.98212225 -0.96640228 -0.89364913 -0.79074475
 -0.77789014 -0.7429573  -0.73884411 -0.72519139 -0.70900196 -0.68922223
 -0.61284273 -0.61167559 -0.60456724 -0.59824569 -0.59724725 -0.58789617
 -0.56685124 -0.55998554 -0.55585195 -0.52978598 -0.52910344 -0.51385433
 -0.51141452 -0.49302777 -0.46276635 -0.44885766 -0.44664862 -0.42560121
 -0.34846686 -0.33920028 -0.3230511  -0.29346786 -0.27505888 -0.25396413
 -0.23427634 -0.19039307 -0.08337968 -0.07573534 -0.03488657 -0.0267111
  0.03285693  0.05285687  0.05861654  0.08452077  0.10191117  0.11166652
  0.14684811  0.28839002  0.29197984  0.33093039  0.42867064  0.44896375
  0.46810797  0.471378    0.48629164  0.52718184  0.53480253  0.55254123
  0.55692628  0.55803847  0.6328866   0.66329247  0.70776726  0.75772573
  0.81775181  0.92239244  0.92632223  0.93081677  1.00298788  1.03493871
  1.03568495  1.0715702   1.12319901  1.60949342  1.62290403  1.62522022
  1.66102588  1.6769389   2.19168055  2.45426314]
-1.7880113546004537
[0.6328866  0.66329247 0.70776726 0.75772573 0.81775181 0.92239244
 0.92632223 0.93081677 1.00298788 1.03493871 1.03568495 1.0715702
 1.12319901 1.60949342 1.62290403 1.62522022 1.66102588 1.6769389
 2.19168055 2.45426314]

In [24]:
# 배열 집합 연산

names = np.array(['Bob', 'Joe', 'Will', 'Joe', 'Joe'])
np.unique(names)

array(['Bob', 'Joe', 'Will'], dtype='<U4')

In [26]:
print(np.unique(names))
print(sorted(set(names)))

['Bob' 'Joe' 'Will']
['Bob', 'Joe', 'Will']

In [60]:
# 첫번째 배열의 원소가 두번째 배열의 원소를 포함하는지 알려주는 불리언 배열을 반환

values = np.array([6, 0, 0, 3, 2, 5, 6])
np.in1d(values, [2, 3, 6])

array([ True, False, False,  True,  True, False,  True])

In [82]:
# 배열 데이터의 입출력
# np.save, np.load는 바이너리 형식, .npy 파일로 저장

arr = np.arange(10)

np.save('some_array', arr)

In [73]:
np.load('some_array.npy')

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [76]:
arry = np.load('some_array.npy')
print(arry)

[0 1 2 3 4 5 6 7 8 9]

In [83]:
# np.savez : 여러 개의 배열을 압축된 형식으로 저장

arr = np.arange(10)
arr1 = np.arange(25)

np.savez('array_archive.npz', a = arr, b = arr1)

In [86]:
arch = np.load('array_archive.npz')
print(arch['a'])
print(arch['b'])

[0 1 2 3 4 5 6 7 8 9]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24]

In [108]:
# 인덱싱을 사용하여 [1 0 1 0 1 0 1 0]을 출력하세요

a = np.ones(10, dtype = int)
a[[1, 3, 5, 7, 9]] = 0

print(a)

[1 0 1 0 1 5 1 0 1 0]

In [114]:
# a = np.arange(10)에서 [6, 7, 8, 9]를 출력

a = np.arange(10)
print(a[a>5])

[6 7 8 9]

In [117]:
# a에서 최대값, 최소값 출력

print(max(a), min(a))

9 0

In [132]:
# a에서 인덱스 값

print(np.argsort(a))
print(a.argsort())

[0 1 2 3 4 5 6 7 8 9]
[0 1 2 3 4 5 6 7 8 9]

In [136]:
# a에서 최대값, 최소값의 인덱스

a = np.arange(10)
print(f'최대값: {np.argsort(max(a))}\n최소값: {np.argsort(min(a))}')

최대값: [0]
최소값: [0]

In [137]:
# a에서 인덱스 배열을 역순으로 출력하세요

np.argsort(a)[::-1]

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0], dtype=int64)

In [150]:
# np.ones((10,10))을 아래와 같이 출력

# array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
#        [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
#        [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
#        [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
#        [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
#        [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
#        [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
#        [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
#        [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
#        [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

b=np.ones((10,10))
b[1:9, 1:9] = 0
b

array([[1., 1., 1., 1., 1., 1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]])

### [파이썬 random 함수]

In [153]:
import random

In [252]:
print(random.random(), '\n') # 0.0 <= x < 1.0 사이
print(random.randint(1, 10), '\n') # 1에서 10사이의 정수 중에서 난수 값 리턴
print(random.uniform(10, 11), '\n') # (min, max) 사이 float 리턴
print(random.randrange(10), '\n') # 지정 범위 int 리턴
print(random.choice([1, 2, 3, 4, 5]), '\n') # 리스트 내부에 있는 요소를 랜덤하게 선택

li = [1, 2, 3, 4, 5]
print(random.sample(li, 3), '\n') # 리스트 요소를 중복이 안되게 리턴

print(random.shuffle(li)) # 리스트 요소를 다시 섞어서 리턴
print(li)

0.7575914698166653

7

10.077140200636293

0

2

[1, 5, 4]

None
[2, 5, 1, 4, 3]

### [numpy random 함수]

- np.random.seed : seed를 통한 난수 생성
- np.random.randint : 균일분포의 정수 난수 1개 생성
- np.random.rand : 0부터 1사이의 균일분포에서 난수 매트릭스 배열 생성
- np.random.randn : 가우시안 표준 정규분포에서 난수 매트릭스 배열 생성
- np.random.choice : 기존 데이터에서 sampling

In [256]:
print(np.random.randint(6), '\n') # 0 ~ 5까지 정수인 난수 1개
print(np.random.randint(1, 20), '\n') # 1 ~ 19까지 정수인 난수 1개
print(np.random.randint(10, size = 10), '\n') # 0 ~ 9까지 정수인 난수 10개
print(np.random.randint(10, 20, size = 10), '\n') # 10 ~ 19까지 정수인 난수 10개
print(np.random.randint(10, 20, size = (3, 5))) # 10 ~ 19까지 청수인 난수로 3행 5열 배열 생성

5

6

[5 6 9 8 1 4 3 7 2 2]

[15 13 18 11 16 18 10 18 16 16]

[[11 10 11 19 12]
 [14 19 11 11 11]
 [17 16 19 10 10]]

In [259]:
r = np.random.rand(6) # 0 ~ 1 사이의 군일분포
print(r, '\n')
r.mean()

[0.31961974 0.22114514 0.62844397 0.32701354 0.2904145  0.39283571]

0.3632454324079694

In [261]:
# 표준 정규분포

r = np.random.randn(6)
r.mean()

0.16513229269473806

In [589]:
list_ = np.arange(1, 6)
print(list, '\n')
np.random.shuffle(list_)
list_

[2 3 1 5 4]

array([1, 4, 3, 5, 2])

In [598]:
np.random.choice(list_)

2

In [280]:
a = np.array([11, 11, 3, 3, 2 ,2 ,2, 7])
index, count = np.unique(a, return_counts = True)
print(index)
print(count)

[ 2  3  7 11]
[3 2 1 2]

In [59]:
np.random.uniform(1.0, 2.0, 10)

array([1.26905701, 1.7748301 , 1.8871712 , 1.07087609, 1.97170011,
       1.1545704 , 1.54004787, 1.32370209, 1.00816008, 1.70978471])

In [691]:
# 0 ~ 1 사이의 난수 실수값으로 행렬 생성
# uniform 함수의 최소값, 최대값을 각각 0, 1로 지정한 것과 같음

ar = np.random.random_sample((4, 8))
print(ar)

[[0.99570271 0.05131442 0.62042464 0.40079519 0.52939139 0.33176066
  0.58354187 0.36812671]
 [0.58678559 0.78071941 0.56916049 0.1805621  0.34279888 0.70146434
  0.48688927 0.43651382]
 [0.09175481 0.82939801 0.39030836 0.49706724 0.18994858 0.70262232
  0.99993469 0.44313011]
 [0.15923751 0.61133159 0.21927252 0.04958476 0.96959035 0.78248112
  0.61412146 0.63137335]]

In [290]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\spiner\anaconda3\envs\cakd5\lib\site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\spiner\anaconda3\envs\cakd5\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\spiner\anaconda3\envs\cakd5\lib\site-packages (from pandas) (1.21.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\spiner\anaconda3\envs\cakd5\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\spiner\anaconda3\envs\cakd5\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [420]:
# 배열을 데이터프레임으로 변환

import pandas as pd

df = pd.DataFrame(ar)
print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

,0,1,2,3,4,5,6,7
0,0.379548,0.194355,0.100975,0.801776,0.849446,0.563238,0.642890,0.952435
1,0.845876,0.277837,0.660486,0.164208,0.566958,0.589147,0.356920,0.865494
2,0.615489,0.563981,0.021909,0.469173,0.627971,0.035094,0.746906,0.201114
3,0.943984,0.511012,0.978319,0.064090,0.390875,0.261878,0.346290,0.840434

In [396]:
print(df[0])
type(df[0])

0    0.113871
1    0.848252
2    0.481425
3    0.786891
Name: 0, dtype: float64

pandas.core.series.Series

In [579]:
columns = ['id', 'gender', 'age', 'region', 'product', 'price', 'qty', 'time']
index = np.arange(4)

df

     id  gender  age
1   596       1   99
2   187       0   60
3   539       0   72
4   582       1   77
5    33       1   53
6   841       1  110
7   835       1  108
8   200       1   11
9   483       0   76
10  129       1   71

In [575]:
# id, gender, age 컬럼에 대하여 의미있는 값으로 변환하여 3개의 컬럼으로 구성된 df를 출력하세요.

h = np.zeros((3, 10)).astype(int) # 틀에 행을 넣을 때는 타입을 지정해줘야 결과물에서 지정한 문자타입이 
id_ = np.random.randint(1, 1000, size = 10)
gender = np.random.randint(2, size = 10)
age = np.random.randint(0, 120, size = 10)


h[0] = id_
h[1] = gender
h[2] = age


h = np.transpose(h)

columns = ['id', 'gender', 'age']
index = np.arange(1, 11)
df = pd.DataFrame(h, index, columns = columns)

df

     id  gender  age
1   596       1   99
2   187       0   60
3   539       0   72
4   582       1   77
5    33       1   53
6   841       1  110
7   835       1  108
8   200       1   11
9   483       0   76
10  129       1   71

In [497]:
ID = np.random.randint(1000,10000,3)
gen = np.random.choice(['M','F'],3)
age = np.random.randint(10,40,3)

data = np.array([ID,gen,age]).reshape(3,3).transpose()
df=pd.DataFrame(data,np.arange(1,4),['ID','Gender','Age'])
df

     ID Gender Age
1  3803      F  14
2  2237      F  35
3  6581      M  31

In [698]:
ar = np.zeros((4, 3))
columns = ['id', 'gender', 'age']
index = [np.arange(4)]

df = pd.DataFrame(ar, index, columns = columns)
df.id = np.array([1, 2, 3, 4])
df.gender = np.random.randint(2, size = 4)
df.age = np.arange(1, 5) * 10

df

   id  gender  age
0   1       0   10
1   2       1   20
2   3       0   30
3   4       0   40