In [3]:
import cx_Oracle
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import csv
import warnings
warnings.filterwarnings('ignore')
plt.style.use('seaborn')
plt.rc('font', family = 'Malgun Gothic') # 한글 입력
plt.rcParams['axes.unicode_minus'] = False # 글꼴 변경시 마이너스 표기 가능으로 처리

In [4]:
con = cx_Oracle.connect('LM_PDB/LM@localhost:1521/xepdb1')
cursor = con.cursor()
sql ='''SELECT a.고객번호, a.제휴사, B.성별, 연령대, 거주지역, 경쟁사이용횟수, 매출
FROM
(SELECT 고객번호, 제휴사, COUNT(경쟁사) "경쟁사이용횟수", SUBSTR(이용년월, 0, 4) "YEAR" FROM COMPET
GROUP BY 고객번호, 제휴사, SUBSTR(이용년월, 0, 4)
ORDER BY 고객번호) a,
(SELECT * FROM 번호제휴성별연도건수매출
WHERE 연도 = 2015) b,
CUSTDEMO C
WHERE a.고객번호 = b.고객번호 AND a.제휴사 = b.제휴사 AND a.고객번호 = c.고객번호 AND B.성별 = C.성별
ORDER BY a.고객번호'''
cursor.execute(sql)
x = cursor.fetchall()
columns = ['고객번호', '제휴사', '성별', '연령대', '거주지', '경쟁사이용횟수', '매출']
df = pd.DataFrame(x,columns=columns)
display(df)
cursor.close()
con.commit()
con.close()

DatabaseError: ORA-00904: "YEAR": 부적합한 식별자

In [20]:
df_A = df.loc[df['제휴사'] == 'A']
df_B = df.loc[df['제휴사'] == 'B']
df_C = df.loc[df['제휴사'] == 'C']
df_D = df.loc[df['제휴사'] == 'D']
df_A.columns = ['고객번호', '제휴사', '성별', '연령대', '거주지', 'A경쟁사이용횟수', '매출']
df_B.columns = ['고객번호', '제휴사', '성별', '연령대', '거주지', 'B경쟁사이용횟수', '매출']
df_C.columns = ['고객번호', '제휴사', '성별', '연령대', '거주지', 'C경쟁사이용횟수', '매출']
df_D.columns = ['고객번호', '제휴사', '성별', '연령대', '거주지', 'D경쟁사이용횟수', '매출']

df_A

       고객번호 제휴사 성별      연령대  거주지  A경쟁사이용횟수        매출
0     00001   A  M    60세이상  060         2  30183640
3     00002   A  M    60세이상  100         2  53286470
6     00004   A  F    60세이상  016         2   5934830
8     00007   A  F    60세이상  036         1  38314500
9     00008   A  M    60세이상  010         1  32241700
...     ...  .. ..      ...  ...       ...       ...
7820  19334   A  M  35세~39세  310        14    382000
7823  19355   A  F  20세~24세  100         1    194920
7824  19362   A  F  45세~49세  016         2  28842660
7827  19367   A  M  45세~49세  020         1  11180490
7831  19375   A  F  25세~29세  049         1    161950

[2473 rows x 7 columns]

In [2]:
fig = plt.figure(figsize = (20, 15))
ax1 = fig.add_subplot(221)
ax2 = fig.add_subplot(222)
ax3 = fig.add_subplot(223)
ax4 = fig.add_subplot(224)

sns.scatterplot(data = df_A, x = 'A경쟁사이용횟수', y = '매출', hue = ['성별', '거주지'],  style = '성별', ax = ax1)
sns.scatterplot(data = df_B, x = 'B경쟁사이용횟수', y = '매출', hue = '성별', style = '성별', ax = ax2)
sns.scatterplot(data = df_C, x = 'C경쟁사이용횟수', y = '매출', hue = '성별', style = '성별', ax = ax3)
sns.scatterplot(data = df_D, x = 'D경쟁사이용횟수', y = '매출', hue = '성별', style = '성별', ax = ax4)
ax1.legend(fontsize = '15')
ax2.legend(fontsize = '15')
ax3.legend(fontsize = '15')
ax4.legend(fontsize = '15')

NameError: name 'plt' is not defined