In [2]:
!python -V

Python 3.8.12

In [9]:
# 표현식
print("273")
10+20+30

273

60

In [6]:
# 표현식이 하나 이상씩 모이면 문장
print("Hello to Python")
print(52, "hello Python", 5+3)

Hello to Python
52 hello Python 8

In [16]:
# 문장이 모여서 프로그램
a = 1
b = 1
c = a+b
print(c)

2

In [23]:
# python keword

import keyword
print(keyword.kwlist, '\n')
print()
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']


35

식별자 기본 규칙

- 키워드를 사용하면 안된다
- 특수문자는 언더 바(_)만 사용한다.
- 숫자로 시작하면 안된다.
- 공백을 포함할 수 없다.

https://bibi6666667.tistory.com/277
파이썬은 snake_case와 CamelCase를 모두 사용

- itemlist item_list itemList
- loginstatus login_status LoginStatus
- 캐멀 케이스(대문자로 시작)클래스
- 스네이크 케이스(소문자로 시작) 뒤에()가 있다 - 함수
- 스네이크 케이스(소문자로 시작) 뒤에()가 없다 - 변수

In [3]:
# 사람이 생각하는 방식을 그대로 표현할 수 있는 언어
if 3 in [1, 2, 3, 4]:
    print('3이 있습니다.')

3이 있습니다.

In [88]:
a = 1
while a < 5:
    print("다시")
    a += 1
if a == 5:
    print("끝")

다시
다시
다시
다시
끝

In [71]:
# 파이썬 자료형 - 숫자형 (정수, 실수, 8진수, 16진수)

a = 123
b = -123
c = 0
d = 1.23
e = 0o177 # 8진수 : 0o로 시작
f = 0xABC # 16진수 : 0x로 시작
g = 0b11010 # 2진수 : 0b로 시작

print(a, b, c, d, e, f, g)

123 -123 0 1.23 127 2748 26

In [37]:
# 사칙연산

a = 10
b = 2
c = a + b
d + a * b
e = a / b
f = a % b # 나머지
g = a // b # 몫
h = b ** 3 # 제곱

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)

10
2
12
1.23
5.0
0
5
8

In [44]:
# 다른 타입간 연산은 안됨

string = "문자열"
number = 273
string + number

TypeError: can only concatenate str (not "int") to str

In [72]:
a = 10
a = "문자"

type(a)

str

In [89]:
# 복합 대입 연산자

num = 10
num += 10
num *= 10
num

200

In [91]:
num = 100
num -= 50
num /= 5
num

10.0

In [94]:
# 사용자 입력

input("인사말을 입력하세요: ")

인사말을 입력하세요: ㄹㅇㄴㅁ

'ㄹㅇㄴㅁ'

In [ ]:
num = input("숫자를 입력하세요: ")
print(num)
type(num)

숫자를 입력하세요: 11

In [4]:
num1 = input("숫자를 입력하세요: ")
num2 = input("숫자를 입력하세요: ")
print(num1 + num2)

숫자를 입력하세요: 5
숫자를 입력하세요: 5
55

In [9]:
num1 = input("숫자를 입력하세요: ")
num2 = input("숫자를 입력하세요: ")
num1_1 = int(num1)
num2_1 = int(num2)
print(num1_1 + num2_1)

숫자를 입력하세요: 5
숫자를 입력하세요: 5
10

In [22]:
num1 = input("숫자를 입력하세요: ")
num2 = input("숫자를 입력하세요: ")

print(int(num1) + float(num2))

숫자를 입력하세요: 3
숫자를 입력하세요: 3.3
6.3

In [25]:
a = input("숫자를 입력하세요: ")
b = input("숫자를 입력하세요: ")
a = str(a)
b = str(b)

print(a + b)

숫자를 입력하세요: fdsa
숫자를 입력하세요: fd
fdsafd

In [32]:
# 문자열 : "", '', """""", ''''''

p2 = "python's value is great"
print(p2)

python's value is great

In [44]:
print("\"python is valuable\" he says")

"python is valuable" he says

In [47]:
print("Once you study data analysis\nYou need Python")
print()
print("""Once you study date analysis
You need python""")

Once you study data analysis
You need Python

Once you study date analysis
You need python

In [50]:
print("python is useful tool.")
print("'python' is useful tool.")
print("\"python\"\n is useful tool.")
print("""python
is useful tool.""")

python is useful tool.
'python' is useful tool.
"python"
 is useful tool.
python
is useful tool.

In [52]:
# 문자열 연산

a = "Python"
b = " is easy to learn"
print(a + b)
print(a * 3)
print("=" * 20)

Python is easy to learn
PythonPythonPython
====================

In [57]:
# 자료형 - List
# 리스트는 [] 로 표시하며 [] 안의 요소를 콤마로 구분하여 순서있게 나열

list1 = [1, 2, 3, 4, 5]
list2 = ["a", "b", "c"]
list3 = [1, "a", "abc", [1, 2, 3, 4, 5], ["a", "b", "c"]]

print(list3)
print(list1, list2)

[1, 'a', 'abc', [1, 2, 3, 4, 5], ['a', 'b', 'c']]
[1, 2, 3, 4, 5] ['a', 'b', 'c']

In [73]:
# 인덱싱

list1 = [1, 2, 3, 4, 5]
print(list1[2:])

list3 = [1, "a", "abc", [1, 2, 3, 4, 5], ["a", "b", "c"]]
print(list3[3][3]) # 리스트 안의 리스트는 대괄호 두 번

[3, 4, 5]
4

In [83]:
# 리스트 수정, 삭제

a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ["a", "b", "c",]

a[0] = 1
b[1] = "c"
del b[1]

print(a)
print(b)

[1, 1, 2, 3, 4, 5, 6, 7, 8, 9]
['a', 'c']

In [92]:
a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
b = ["a", "b", "c",]
c = a + b

print(c)

c[-5] = 1
c[-1] = 1

print(c)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'a', 'b', 'c']
[0, 1, 2, 3, 4, 5, 6, 7, 1, 9, 'a', 'b', 1]

In [ ]:
x

In [101]:
# 정렬

b = [2, 4, 3, 1]
b.sort()
print(b)

# 내림차순

b_r = sorted(b, reverse=True)
print(b_r)

b.reverse()
print(b)

[1, 2, 3, 4]
[4, 3, 2, 1]
[4, 3, 2, 1]

In [103]:
s = [1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 1]
s.sort()
s.reverse()
print(s)

[9, 8, 7, 6, 5, 4, 3, 2, 2, 1, 1, 1]

In [105]:
# 인덱스 위치 반환

c = [1, 2, 3, 1, 5]
print(c.index(3))

2

In [341]:
import numpy as np
c = np.random.randint(100, size = 100).tolist()
print(c)
c.index()

[4, 24, 84, 22, 75, 33, 80, 63, 68, 46, 42, 14, 98, 26, 58, 8, 58, 31, 52, 43, 13, 12, 20, 34, 35, 79, 40, 67, 82, 62, 71, 51, 26, 33, 15, 95, 57, 65, 47, 92, 56, 91, 28, 12, 62, 96, 20, 70, 11, 51, 75, 57, 66, 90, 69, 12, 19, 84, 61, 84, 75, 71, 33, 92, 45, 69, 20, 60, 48, 29, 54, 11, 39, 22, 81, 56, 40, 82, 54, 17, 75, 51, 23, 45, 18, 20, 46, 2, 77, 49, 28, 19, 89, 20, 90, 97, 27, 62, 9, 75]

In [127]:
# 개수 반환

c = [1, 1, 3, 3, 3, 5, 5]
print(c.count(3))

3

In [139]:
# 리스트 확장

h = [1, 2, 3]
h.extend([4, 5])
print(h)

h.append(6)
print(h)

h.insert(0, 5)
print(h)

h.insert(7, 7)
print(h)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6]
[5, 1, 2, 3, 4, 5, 6, 7]

In [150]:
# 튜플

tuple1 = (1, 2, 3, 4, 5)
tuple2 = ("a", "b", "c")
tuple3 = (1, "a", "abc", [1, 2, 3, 4, 5], ["a", "b", "c"])

print(tuple1[1:])
print(tuple3[2])
print(tuple3[4][1])

(2, 3, 4, 5)
abc
b

In [148]:
tuple1 = (1, 2, 3, 4, 5)
tuple1[0] = 6

# 튜플의 요소 값은 변경할 수 없음
# 프로그램에서 그 값이 항상 변하지 않아야 하는 경우 사용

TypeError: 'tuple' object does not support item assignment

In [157]:
t1 = (1, ) # 튜플에서 1개의 요소만 가질 때에는 요소 뒤에 콤마를 붙여야 한다.
print(t1)
print(type(t1))

(1,)
<class 'tuple'>

In [218]:
# 자료형 - 사전(키와 값을 하나의 요소로 하는 순서가 없는 집합)

d1 = {"a":1, "b":2, "c":3}
print(d1["a"])
d1["b"] = 5
print(d1)

d1["a"] = 4

print(d1.keys())
print(d1.values())
print(d1.items())

type(d1)

1
{'a': 1, 'b': 5, 'c': 3}
dict_keys(['a', 'b', 'c'])
dict_values([4, 5, 3])
dict_items([('a', 4), ('b', 5), ('c', 3)])

dict

In [233]:
# 자료형 - 집합, set(중복을 허용하지 않으며 순서가 없다.)

s1 = {1, 2, 5, 4, 3}
s2 = {"hello"}
s3 = set("hello")
print(s1)
print(s2)
print(s3)

print(type(s1))
print(type(s2))
print(type(s3))

s_1 = list(s1)
print(type(s_1))

{1, 2, 3, 4, 5}
{'hello'}
{'o', 'l', 'e', 'h'}
<class 'set'>
<class 'set'>
<class 'set'>
<class 'list'>

In [310]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8, 9}

print(list(s1|s2))
print(list(s1&s2))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[4, 5, 6]

In [236]:
la = ["a", "b", "c"]
if "a" in la:
    print("a가 la에 있습니다.")
else:
    print("a가 la에 없습니다.")

a가 la에 있습니다.

In [261]:
# 문자열 포맷

name = "홍길동"
age = 30
f"나의 이름은 {name}입니다. 나이는 {age}입니다."

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [337]:
d = {"name":"홍길동", "age":30}

print(f"나의 이름은 {d['name']}입니다. 나이는 {d['age']}입니다.")

나의 이름은 홍길동입니다. 나이는 30입니다.

In [291]:
print("{0}은 {1}보다 {2}배 쉽습니다.".format("파이썬", "자바", 2))

파이썬은 자바보다 2배 쉽습니다.

In [295]:
y = 3.42134234
print(f'{y:0.4f}')
print(f'{y:10.4f}')

3.4213
    3.4213

In [345]:
# 제어문 - if, elif, else
# 수입과 지출금액을 비교해서 수입이 많으면 저축 증가, 반대이면 빚이 증가, 같으면 현상 유지

i = 5,000,000
e = 5,000,000

if i > e:
    print("저축 증가")
elif i < e:
    print("빚이 증가")
else:
    print("현상 유지")

현상 유지

In [350]:
# for 반복문
numbers = [5, 15, 6, 20, 7, 25]
for number in numbers:
    print(number, end = " ")

5 15 6 20 7 25

In [357]:
print(5//2)
print(5%2)

2
1

In [358]:
print(101**3)

1030301

In [373]:
a = "Python "
b = "3.8.3"

print(a + b)

Python 3.8.3

In [25]:
a = 5
print(type(a))
     
a = "10"
print(type(a))

a = 15
print(type(a))

<class 'int'>
<class 'str'>
<class 'int'>

In [ ]:
print((5**3)%3)

tmp = (5**3%3
# tmp %= 3
print(tmp)

In [ ]:
name = input("성함이 무엇인가요? : ")
print(f"{name} 입니다.")

In [44]:
a = input("첫번째 숫자를 입력하시오 : ")
b = input("두번째 숫자를 입력하시오 : ")
c = input("세번째 숫자를 입력하시오 : ")

a = int(a)
b = int(b)
c = int(c)

print(f"결과 값은 {round(a**b/c)}입니다.")
# print(f."계산의 결과는 {'(a**b)/c'}입니다.")

첫번째 숫자를 입력하시오 : 5
두번째 숫자를 입력하시오 : 5
세번째 숫자를 입력하시오 : 5
결과 값은 625입니다.

In [48]:
# for ~ continue ~ break
# 1~10 범위의 정수에서 1부터 5까지만 출력하세요.

for i in range(1, 11):
    print(i, end = " ")
    if i < 5:
        continue
    else:
        break

1 2 3 4 5

In [72]:
# numbers 리스트에서 15, 20, 25를 출력하세요.

numbers = [5, 15, 6, 20, 7, 25]

for i in numbers:
    i_1 = 5 * n
    n = range(1, 100)
    if i_1 >= 15
        print(i_1, end = " ")

SyntaxError: invalid syntax (Temp/ipykernel_15156/698724260.py, line 8)

In [100]:
# while
# 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하세요

x = 1
sum = 0
while a:
    sum = sum + x
    if sum > 1000:
        print(x)
        print(sum)
        break
    x = x + 1

45
1035

In [112]:
x = 0
sum = 0
while x < 1000:
    x += 1
    if x%3 == 0:
        sum = sum + x

print(sum)

166833

In [ ]:
# 1~100까지의 정수중 5에서 95까지의 합을 구하시오

for i in range(1, 101)
sum = 0
while 4 < i < 96:
    i = i